{% import "macros/cards.njk" as cards %}

<div class="border-gray-300 about-banner bg-black">
  <div
    class="
      section-inner-wrapper
      font-lexend
      container
      px-16
      mx-auto
      border-black
    "
  >
    <!-- left side of hero section-->
    <div class="py-24">
      <h1
        class="
          text-7xl
          leading-tight
          text-center
          w-1/2
          mx-auto
          text-gray-50
          mb-8
        "
      >
        Contact Us
      </h1>
      {# <h4
        class="
          text-2xl
          w-3/5
          text-center
          mx-auto
          leading-8
          text-gray-200
          font-light
          mb-8
        "
      >
        We are limitless.
      </h4> #}
    </div>

    <!--right side of hero section -->
    <div></div>
  </div>
</div>










