<section class="text-gray-700  max-w-screen-xl ag-container-padding mx-auto relative">
  <div class=" mt-8">
    <h1 class="text-xl mb-4">You can reach us at <a href="mailto:info@aganitha.ai"
        class="font-bold text-ag-primary-blue-500">info@aganitha.ai</a>
    </h1>

    <h1 class="text-xl">
      Review our job opportunities <a href="/careers/#positions-section" class="text-ag-primary-blue-500 font-bold">here.</a>
    </h1>
  </div>

  <div class="contact-cards grid sm:grid-cols-2   xl:grid-cols-3 gap-4 lg:gap-8 xl:gap-x-12 py-12">

    {% for place in contact %}
      <div class="contact-card-wrapper rounded transition duration-300 hover:shadow-2xl  mx-auto min-w-full shadow-lg xl:w-96 relative h-110 sm:h-100  ">
        <div class="location-image-wrapper">
          <img src={{ place.image }} class="object-cover w-full h-60" alt="">
        </div>
        <div class="location-text-wrapper px-6 ">
          <h1 class="text-xl sm:text-lg lg:text-xl text-ag-primary-blue-700 font-bold mt-4 mb-2">
            {{ place.name }}
          </h1>

          <div class="text-gray-600">
            {% for line in place.address %}
              <h1 class="text-base sm:text-sm lg:text-base">{{ line }}
              </h1>
            {% endfor %}

          </div>

          <h1 class="text-base sm:text-sm lg:text-base absolute bottom-2 text-ag-secondary-red">
            {{ place.telephone }}
          </h1>
        </div>
      </div>

    {% endfor %}

  </div>
</section>