<div class="container  mx-auto">
  <div class="w-4/5  grid grid-cols-2 mx-auto">
    
    <div class="contact-details flex items-center justify-center">
     <div class=" w-full text-center"> 
        <h1 class="text-3xl mb-8 text-blue-800">Michigan, USA</h1>
      <p class="text-xl text-gray-700 leading-relaxed mb-2">
        11664, Martin Rd
      </p>
      <p class="text-xl text-gray-700 leading-relaxed mb-2">
        
      </p>
        <p class="text-xl text-gray-700 leading-relaxed mb-8">
            Warren, Michigan 48093
        </p>
        <button class="btn-blue bg-yellow-400 text-blue-700 text-xl">
            Email us
        </button>
       
      </h2>
     </div>
      
    </div>

    <div class="michigan-image-wrapper">
      <img src="/assets/images/contact/michigan.jpg" alt="" />
    </div>
  </div>
</div>
