<div class="container  mx-auto mb-24">
  <div class="w-4/5  grid grid-cols-2 mx-auto">
    <div class="hyd-image-wrapper">
      <img src="/assets/images/contact/california.jpg" alt="" />
    </div>
    <div class="contact-details flex items-center justify-center">
     <div class=" w-full text-center"> 
        <h1 class="text-3xl mb-8 text-blue-800">California, USA</h1>
      <p class="text-xl text-gray-700 leading-relaxed mb-2">
        Aganitha AI Inc.

      </p>
      <p class="text-xl text-gray-700 leading-relaxed mb-2">
        First St, Gilroy CA 
      </p>
        <p class="text-xl text-gray-700 leading-relaxed mb-8">
       
        </p>
        <button class="btn-blue bg-yellow-400 text-blue-700 text-xl">
            Email us
        </button>
       
      </h2>
     </div>
      
    </div>
  </div>
</div>
