<div class="container  mx-auto">
  <div class="w-4/5  grid grid-cols-2 mx-auto">
    <div class="hyd-image-wrapper">
      <img src="/assets/images/contact/hyd2.jpg" alt="" />
    </div>
    <div class="contact-details flex items-center justify-center">
     <div class=" w-full text-center"> 
        <h1 class="text-3xl mb-8 text-blue-800">Hyderabad, India</h1>
      <p class="text-xl text-gray-700 leading-relaxed mb-2">
        512T, 1st Floor
      </p>
      <p class="text-xl text-gray-700 leading-relaxed mb-2">
        Road number 29, Jubilee Hills
      </p>
        <p class="text-xl text-gray-700 leading-relaxed mb-8">
            Hyderabad 500033
        </p>
        <button class="btn-blue bg-yellow-400 text-blue-700 text-xl">
            Email us
        </button>
       
      </h2>
     </div>
      
    </div>
  </div>
</div>
