{% extends "default.njk" %}
{% block title%} Aganitha {% endblock %}
{% block
content %}
  {% include "partials/gwas/_banner.njk" %}

  <div class="border-green-200 relative mx-auto content-wrapper">
    <div class="main-content" id="content">

      {% include "partials/gwas/_intro.njk" %}
      <div class="background-light">
        {% include "partials/gwas/_solution.njk" %}
      </div>

      <div class="">
        {% include "partials/gwas/_highlights.njk" %}
      </div>
      {# {% include "partials/gwas/_tabs.njk"%} #}

      <div class="bg-ag-primary-blue-600">
        {% include "partials/gwas/_benefits.njk" %}
      </div>

    </div>
  </div>
</div>
{% include "partials/_demo.njk" %}
{% include "partials/gwas/_relatedSolutions.njk" %}

{% endblock %}