<header class="header">
   <div class="nav-container">
      <div class="header-main">
         <div class="logo">
            <a href="/" class="flex items-center justify-center">
               <img src="/assets/images/logo-crop.png" class="w-14  mr-2" alt="">
               <span class="logo-text font-light  h-full text-3xl">aganitha</span>
            </a>
         </div>
         <div class="open-nav-menu">
            <span></span>
         </div>
         <div class="menu-overlay"></div>
         <!-- navigation menu start -->
         <nav class="nav-menu">
            <div class="close-nav-menu">
               <img src="/assets/images/navbar/close.svg" alt="close">
            </div>
            <ul class="menu">

               {# <li class="menu-item menu-item-solo">
                <a href="/">Home</a>
             </li> #}
               <li class="menu-item menu-item-has-children">
                  <a  data-toggle="sub-menu">Solutions <i class="plus"></i>
                  </a>
                  <ul class="sub-menu">
                     <li class="menu-item">
                        <a href="/biopharma/solutions-overview">Solution Overview</a>
                     </li>
                     <li class="menu-item">
                        <a href="/biopharma/knowledge-hubs">Knowledge Hubs</a>
                     </li>
                     <li class="menu-item">
                        <a href="/biopharma/omics-pipelines">Omics Pipeline</a>
                     </li>
                     <li class="menu-item">
                        <a href="/biopharma/genome-wide-association-studies">GWAS Pipeline</a>
                     </li>
                  </ul>
               </li>
               <li class="menu-item menu-item-has-children">
                  <a href="#" data-toggle="sub-menu">Company <i class="plus"></i>
                  </a>
                  <ul class="sub-menu">
                     <li class="menu-item">
                        <a href="/about">About Us</a>
                     </li>
                     <li class="menu-item">
                        <a href="/team">Leadership</a>
                     </li>
                     {# <li class="menu-item"><a href="/careers">Careers</a></li> #}
                     <li class="menu-item">
                        <a href="/contact">Contact Us</a>
                     </li>
                  </ul>
               </li>
               <li class="menu-item  ">
                  <a href="/careers" class="hover:text-red-700">Join Us</a>
               </li>

            </ul>
         </nav>
         <!-- navigation menu end -->
      </div>
   </div>
</header>