<section class="careers-banner bg-ag-primary-blue-600">
    <div class="max-w-screen-xl  py-20 mx-auto ag-container-padding">
        <div class="banner-text mb-8">
            <h1 class="text-5xl font-semibold leading-snug text-white">
                <span class="text-ag-secondary-red">Join us
                </span> on our mission to help
                improve and
                impact
                the lives of
                millions by
                <span class="text-ag-secondary-red">
                    acclerating
                </span>
                drug discovery.
            </h1>
        </div>

        <a href="#positions-section">
            <div class="button-wrapper py-2 group max-w-xs flex">
                <div
                    class="career-icon-wrapper rounded-full p-2 transition duration-300 group-hover:bg-white bg-ag-secondary-red flex items-center justify-center ">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="w-8 text-white group-hover:text-black transition duration-300" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={10} d="M19 9l-7 7-7-7"/>
                    </svg>
                </div>
                <p class="text-gray-50 flex items-center text-xl ml-4">See open positions</p>
            </div>
        </a>
    </div>

</section>