{% import "macros/cards.njk" as cards %}

<div class="border-gray-300 about-banner bg-black">
  <div
    class="
      section-inner-wrapper
      font-lexend
      container
      px-16
      mx-auto
      border-black
    "
  >
    <!-- left side of hero section-->
    <div class="py-24 w-full px-16">
      <h1 class="text-6xl leading-tight text-center mx-auto text-gray-50 mb-8">
        Careers at Aganitha
      </h1>
      {# <h4 class="text-xl mx-auto leading-relaxed text-center text-gray-200 font-light mb-8">
        change this: Join the team that’s transforming the future of human
        health. Grow your career in a dynamic, inclusive environment filled with
        talented professionals dedicated to driving the leading edge of
        scientific discovery.
      </h4> #}

      <div class=" flex items-center justify-center">
        <button class="btn-blue ">OPEN POSITIONS</button>
      </div>
    </div>

    <!--right side of hero section -->
    <div></div>
  </div>
</div>




