{% import "macros/cards.njk" as cards %}

<div class="border-gray-300 about-banner bg-black">
  <div
    class="
      section-inner-wrapper
      font-lexend
      container
      px-16
      mx-auto
      border-black
    "
  >
    <!-- left side of hero section-->
    <div class="py-24 w-2/3 px-16">
      <h1 class="text-6xl leading-tight mx-auto text-gray-50 mb-8">
        Careers at Aganitha
      </h1>
      <h4 class="text-xl mx-auto leading-8 text-gray-200 font-light mb-8">
        change this: Join the team that’s transforming the future of human
        health. Grow your career in a dynamic, inclusive environment filled with
        talented professionals dedicated to driving the leading edge of
        scientific discovery.
      </h4>

      <div>
        <button class="btn-blue">OPEN POSITIONS</button>
      </div>
    </div>

    <!--right side of hero section -->
    <div></div>
  </div>
</div>

<div class="my-16 container py-8 mx-auto">
  <div class="container px-16 mx-auto">
    <div
      class="mx-auto max-w-5xl text-center mb-4 items-center border-gray-600"
    >
      <p
        class="
          text-5xl text-left
          border-yellow-200
          text-gray-700
          leading-relaxed
          font-medium
          mb-8
        "
      >
        Who are we?
      </p>
      <p class="text-xl leading-8 font-medium text-left mb-4">
        We are a team of IIT alums, with published papers, books, patents and
        experience in research.
      </p>

      <ul
        class="
          careers-list
          list-disc
          text-left
          mb-20
          text-lg
          leading-8
          list-inside
        "
      >
        <li>
          Industry veterans with prior experience of successful startups,
          managed thousands of employees, hundreds of million dollars of
          revenue, worked with fortune 500 companies
        </li>
        <li>
          Built solution that can fit in an enterprise, from standards,
          security, manageability, extendibility, and maintainability
          perspectives
        </li>
        <li>
          We are a company and a team that combines modern technologies with
          enterprise IT best practices to help biotechnology companies in the
          entire drug life cycle
        </li>
      </ul>

      <p
        class="
          text-5xl text-left
          border-yellow-200
          text-gray-700
          leading-relaxed
          font-medium
          mb-8
        "
      >
        Why join Aganitha?
      </p>
      <p class="text-xl leading-8 font-medium text-left mb-4">
        We understand how to support employees: We place a lot of emphasis on
        training and nurturing our employees. We provide:
      </p>

      <ul
        class="careers-list list-disc text-left text-lg leading-8 list-inside"
      >
        <li>
          A challenging and stimulating environment and a chance to work on some
          of the cutting edge technology
        </li>
        <li>
          Complete ownership of problem to help understand big picture and
          prepare for bigger roles
        </li>
        <li>Emphasis on learning on the job with frequent sharing sessions</li>
        <li>
          A chance to for our developers to learn basics of all technologies and
          specialization in a few.
        </li>
        <li>
          Several of our employees from earlier start-ups are now industry
          stalwarts: a CVP at Microsoft, early employees of companies like
          Google, and Amazon.
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="bg-blue-50 text-gray-600 py-12">
  <div class="container px-16 mx-auto">
    <div
      class="mx-auto max-w-5xl text-center mb-4 items-center border-gray-600"
    >
      <p
        class="
          text-5xl text-left
          border-yellow-200
          text-gray-700
          leading-relaxed
          font-medium
          mb-8
        "
      >
        What are we looking for?
      </p>
      <p class="text-xl leading-8 font-medium text-left mb-4">
        We understand that a lot of skills that we need are not usually
        available in the market. Since even the senior management is adept at
        technologies, including architecture, design, and implementation, we
        train the employees on the job.
      </p>
      <p class="text-xl leading-8 font-medium text-left mb-4">
        We find that the following traits are the most important that we look
        for in our employees
      </p>

      <ul
        class="
          careers-list
          list-disc
          text-left
          mb-20
          text-lg
          leading-8
          list-inside
        "
      >
        <li>
          Ability and curiosity to learn new topics- In the ever evolving world
          of biopharma and disruptive technology we expect you to proactively
          keep abreast of new developments in the relevant fields
        </li>
        <li>
          Ability to communicate well- All our work is fast moving and built
          collaboratively requiring clear and constant communication
        </li>
        <li>
          Quality Conscious- Conscious approach towards quality output and
          development of systems that are easy to use and understand for other
          colleagues and end users
        </li>
        <li>
          Ability to deliver and close- Approach to bring clarity and proper
          planning to meet the deadlines is a highly appreciated quality
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="text-gray-600 mt-8 py-12">
  <div class="container px-16 mx-auto">
    <div
      class="mx-auto max-w-5xl text-center mb-4 items-center border-gray-600"
    >
      <p
        class="
          text-5xl text-left
          border-yellow-200
          text-gray-700
          leading-relaxed
          font-medium
          mb-8
        "
      >
        Open Positions
      </p>
      <p class="text-xl leading-8 font-medium text-left mb-8">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, earum!
      </p>

      <div
        class="
          card
          my-5
          bg-blue-50
          flex
          text-base
          leading-relaxed
          font-medium
          border-yellow-500
          max-w-6xl
          mx-auto
          px-6
          py-5
          rounded-xl
        "
      >
        <span class="w-3/4 text-left">Software Engineer</span>
        <div class="w-1/4 text-right">
          <span class="text-right"> Hyderabad</span>
          <span class="ml-4">+</span>
        </div>
      </div>

      <div
        class="
          card
          my-5
          bg-blue-50
          flex
          text-base
          leading-relaxed
          font-medium
          border-yellow-500
          max-w-6xl
          mx-auto
          px-6
          py-5
          rounded-xl
        "
      >
        <span class="w-3/4 text-left">Full Stack Developer</span>
        <div class="w-1/4 text-right">
          <span class="text-right"> Hyderabad</span>
          <span class="ml-4">+</span>
        </div>
      </div>

      <div
        class="
          card
          my-5
          bg-blue-50
          flex
          text-base
          leading-relaxed
          font-medium
          border-yellow-500
          max-w-6xl
          mx-auto
          px-6
          py-5
          rounded-xl
        "
      >
        <span class="w-3/4 text-left">Dev Ops Engineer</span>
        <div class="w-1/4 text-right">
          <span class="text-right"> Hyderabad</span>
          <span class="ml-4">+</span>
        </div>
      </div>

      <div
        class="
          card
          my-5
          bg-blue-50
          flex
          text-base
          leading-relaxed
          font-medium
          border-yellow-500
          max-w-6xl
          mx-auto
          px-6
          py-5
          rounded-xl
        "
      >
        <span class="w-3/4 text-left">Bioinformatics Engineer</span>
        <div class="w-1/4 text-right">
          <span class="text-right"> Hyderabad</span>
          <span class="ml-4">+</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-100">{% include "contact.njk" %}</div>
