<div class=" text-gray-600 py-12">
  <div class="container px-24  flex mx-auto">
   <div class=" py-8 border-t-2 flex">
       <div class="w-1/3 px-6">
           <h3 class="font-medium text-4xl text-blue-800">Why Aganitha?</h1>
       </div>
       <div class="w-2/3">
           <ul
        class="careers-list list-inside list-disc text-left text-lg text-gray-600 leading-relaxed ">
        <li class="mb-2">
         A challenging and stimulating environment and an opportunity to work on some of the cutting edge technologies while making significant contributions to the field of biopharma 
        </li>
        <li class="mb-2">
         Complete ownership of the problem to help understand the big picture and prepare for bigger roles
        </li>
        <li class="mb-2">Emphasis on learning on the job with frequent knowledge sharing sessions</li>
        <li class="mb-2">
          A chance for our members to learn basics of all technologies and specialize in a few.
        </li>
        <li class="mb-2">
          We understand how to support employees and help them grow. We place a lot of emphasis on training and nurturing our employees. 
        </li>
        <li class="mb-2">
          A chance to work with colleagues from top institutions like IITs and IIITs.
        </li>
      </ul>
       </div>
   </div>



   

    
  </div>

  <div class="container px-24  flex mx-auto">
    <div class=" py-8 border-t-2 flex">
        <div class="w-1/3 px-6">
            <h3 class="font-medium text-4xl text-blue-800 pr-4">What are we looking for?</h1>
        </div>
        <div class="w-2/3">
          <p class="text-lg text-gray-600 leading-relaxed text-left mb-8"> 
            We understand that the combination of skills that we look for is not commonly available, and we are comfortable investing in helping our team members build those skills. The founding team and the management team understands the value of investing in our employees and are comfortable with on the job learning and growing to be superstars. We look for the following traits:  

          </p>
            <ul
         class="careers-list  list-inside list-disc text-left text-lg text-gray-600 leading-relaxed ">
         <li class="mb-2">
           Ability and curiosity to learn new topics- In the ever evolving world of biopharma and disruptive technology we expect you to proactively keep abreast of new developments in the relevant fields.

         </li>
         <li class="mb-2">
            Ability to communicate well- All our work is fast moving and built collaboratively requiring clear and constant communication
         </li>
         <li class="mb-2">Quality Conscious- Conscious approach towards quality output and development of systems that are easy to use and understand for other colleagues and end users</li>
         <li class="mb-2">
            Ability to deliver and close- Approach to bring clarity and proper planning to meet the deadlines is a highly appreciated quality
         </li>
         
       </ul>
        </div>
    </div>
   </div>

   
</div>

