<div class="border-yellow-500 py-12 font-lexend mt-12">
  <div class="container mx-auto px-16 grid gap-8 grid-cols-2">
    <div class="careers__image-wrapper flex items-center overflow-hidden">
      <img
        src="/assets/images/careers/careers.jpg"
        class="rounded-lg shadow-xl"
        alt=""
      />
    </div>
    <div class="careers__intro font-lexend  px-4">
      <p class="text-4xl text-gray-800 font-medium leading-relaxed mb-4">
        Who we are
      </p>
      <p class="text-lg leading-relaxed text-gray-600 mb-4">
        We are a team of IIT alums, with published papers, books, patents and
        experience in research. Industry veterans with prior experience of
        successful startups, managed thousands of employees, hundreds of million
        dollars of revenue, worked with fortune 500 companies.
      </p>

      <p class="text-lg leading-relaxed text-gray-600">
        We build solutions that can fit in an enterprise, from standards,
        security, manageability, extendibility, and maintainability
        perspectives.We are a company and a team that combines modern
        technologies with enterprise IT best practices to help biotechnology
        companies in the entire drug life cycle
      </p>
    </div>
  </div>
</div>
