<div class="my-16 container py-8 mx-auto">
  <div class="container px-16  mx-auto">
    <div
      class="mx-auto max-w-5xl text-center mb-4 items-center border-gray-600"
    >
      <p
        class="
          text-5xl text-left
          border-yellow-200
          text-gray-700
          leading-relaxed
          font-medium
          mb-8
        "
      >
        Who are we?
      </p>
      <p class="text-xl leading-8 font-medium text-left mb-4">
        We are a team of IIT alums, with published papers, books, patents and
        experience in research.
      </p>

      <ul
        class="
          careers-list
          list-disc
          text-left
          mb-20
          text-lg
          leading-8
          list-inside
        "
      >
        <li>
          Industry veterans with prior experience of successful startups,
          managed thousands of employees, hundreds of million dollars of
          revenue, worked with fortune 500 companies
        </li>
        <li>
          Built solution that can fit in an enterprise, from standards,
          security, manageability, extendibility, and maintainability
          perspectives
        </li>
        <li>
          We are a company and a team that combines modern technologies with
          enterprise IT best practices to help biotechnology companies in the
          entire drug life cycle
        </li>
      </ul>

      <p
        class="
          text-5xl text-left
          border-yellow-200
          text-gray-700
          leading-relaxed
          font-medium
          mb-8
        "
      >
        Why join Aganitha?
      </p>
      <p class="text-xl leading-8 font-medium text-left mb-4">
        We understand how to support employees: We place a lot of emphasis on
        training and nurturing our employees. We provide:
      </p>

      <ul
        class="careers-list list-disc text-left text-lg leading-8 list-inside"
      >
        <li>
          A challenging and stimulating environment and a chance to work on some
          of the cutting edge technology
        </li>
        <li>
          Complete ownership of problem to help understand big picture and
          prepare for bigger roles
        </li>
        <li>Emphasis on learning on the job with frequent sharing sessions</li>
        <li>
          A chance to for our developers to learn basics of all technologies and
          specialization in a few.
        </li>
        <li>
          Several of our employees from earlier start-ups are now industry
          stalwarts: a CVP at Microsoft, early employees of companies like
          Google, and Amazon.
        </li>
      </ul>
    </div>
  </div>
</div>
