<div class="border-yellow-500 py-12  mt-12">
  <div class="container mx-auto px-16 grid gap-8 grid-cols-2">
    <div class="careers__image-wrapper flex items-center overflow-hidden">
      <img
        src="/assets/images/careers/careers.jpg"
        class="rounded-lg shadow-2xl"
        alt=""
      />
    </div>
    <div class="careers__intro py-8   px-4">
      <p class="text-4xl text-blue-800 font-medium leading-relaxed mb-4">
        Who are we?
      </p>
      <p class="text-lg leading-relaxed text-gray-600 mb-4">
        We are a team of IIT alumni with published papers, books and patents. We have worked together for many years building both successful startups and scaling teams at large enterprises. We have managed over ten thousand employees, scaled and delivered billion dollar plus of annual revenue while working with the Fortune 500 companies.
      </p>

      <p class="text-lg leading-relaxed text-gray-600">
         We are a company and a team that combines modern technologies with enterprise IT best practices to help biotechnology companies in the entire drug life cycle.
      </p>
    </div>
  </div>
</div>
