{# <div class="border-yellow-500 py-12 ">
  <div class="max-w-screen-xl mx-auto ag-container-padding grid gap-8 grid-cols-2">
    <div class="careers__image-wrapper flex items-center overflow-hidden">
      <img
        src="/assets/images/careers/careers.jpg"
        class="rounded-lg shadow-lg"
        alt=""
/>
    </div>
    <div class="careers__intro py-8   px-4">
      <p class="ag-h3 text-ag-primary-blue leading-relaxed mb-4">
        Our roots and our goals
      </p>
      <p class="ag-h4 leading-normal  text-gray-600 mb-4">
        We are a team of IIT alumni with published papers, books and patents. We have worked together for many years building both successful startups and scaling teams at large enterprises. We have managed over ten thousand employees, scaled and delivered billion dollar plus of annual revenue while working with Fortune 500 companies.
      </p>

      <p class="ag-h4 leading-normal  text-gray-600">
         We are a company and a team that combines modern technologies with enterprise IT best practices to build biopharma solutions and help biopharma companies through the entire drug life cycle.  We are on a mission to accelerate drug discovery.

      </p>
    </div>
  </div>
</div> #}

<section class="bg-gray-50">
  <div class="intro-wrapper py-8  lg:py-12 ag-container-padding   max-w-screen-xl  mx-auto ">
    <div class="intro-inner-wrapper  grid gap-6 lg:gap-12 lg:grid-cols-2">
      <div class="left-side flex items-center justify-center">
        <img
        src="/assets/images/careers/careers.jpg"
        class="rounded-lg w-full sm:w-3/4 lg:w-full shadow-xl"
        alt=""
/>
      </div>
      <div class="right-side py-4">
        <h3 class="ag-h3  text-center lg:text-left md:text-4xl text-ag-primary-blue font-semibold mb-4 " id="content">
        Our roots and our goals
      </h3>

        <h4 class="ag-h4 text-gray-700 mb-4">
        We are a team of IIT alumni with published papers, books and patents. We have worked together for many years building both successful startups and scaling teams at large enterprises. We have managed over ten thousand employees, scaled and delivered billion dollar plus of annual revenue while working with Fortune 500 companies.
      </h4>

        <h4 class="ag-h4 text-gray-700">
          We are a company and a team that combines modern technologies with enterprise IT best practices to build biopharma solutions and help biopharma companies through the entire drug life cycle.  We are on a mission to accelerate drug discovery.
      </h4>
      </div>
    </div>
  </div>
</section>