<div class="text-gray-600 mt-8 py-12">
  <div class="container px-16 mx-auto">
    <div
      class="mx-auto max-w-5xl text-center mb-4 items-center border-gray-600"
    >
      <p
        class="
          text-5xl text-left
          border-yellow-200
          text-gray-700
          leading-relaxed
          font-medium
          mb-8
        "
      >
        Open Positions
      </p>
      <p class="text-xl leading-8 font-medium text-left mb-8">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, earum!
      </p>

      <div
        class="
          card
          my-5
          bg-blue-50
          flex
          text-base
          leading-relaxed
          font-medium
          border-yellow-500
          max-w-6xl
          mx-auto
          px-6
          py-5
          rounded-xl
        "
      >
        <span class="w-3/4 text-left">Software Engineer</span>
        <div class="w-1/4 text-right">
          <span class="text-right"> Hyderabad</span>
          <span class="ml-4">+</span>
        </div>
      </div>

      <div
        class="
          card
          my-5
          bg-blue-50
          flex
          text-base
          leading-relaxed
          font-medium
          border-yellow-500
          max-w-6xl
          mx-auto
          px-6
          py-5
          rounded-xl
        "
      >
        <span class="w-3/4 text-left">Full Stack Developer</span>
        <div class="w-1/4 text-right">
          <span class="text-right"> Hyderabad</span>
          <span class="ml-4">+</span>
        </div>
      </div>

      <div
        class="
          card
          my-5
          bg-blue-50
          flex
          text-base
          leading-relaxed
          font-medium
          border-yellow-500
          max-w-6xl
          mx-auto
          px-6
          py-5
          rounded-xl
        "
      >
        <span class="w-3/4 text-left">Dev Ops Engineer</span>
        <div class="w-1/4 text-right">
          <span class="text-right"> Hyderabad</span>
          <span class="ml-4">+</span>
        </div>
      </div>

      <div
        class="
          card
          my-5
          bg-blue-50
          flex
          text-base
          leading-relaxed
          font-medium
          border-yellow-500
          max-w-6xl
          mx-auto
          px-6
          py-5
          rounded-xl
        "
      >
        <span class="w-3/4 text-left">Bioinformatics Engineer</span>
        <div class="w-1/4 text-right">
          <span class="text-right"> Hyderabad</span>
          <span class="ml-4">+</span>
        </div>
      </div>
    </div>
  </div>
</div>