<div class="testimonials-wrapper  grid grid-cols-2 font-lexend">
  <div class="testimonials-image-wrapper overflow-hidden">
    <img src="/assets/images/careers/face.jpg" class="object-cover" alt="" />
  </div>
  <div class="test-content">
    <div class="px-24 py-8 ">

      <h1 class="text-xl mb-6 mt-4 text-gray-200 italic">
        What do you like about Aganitha?
      </h1>
      <ul class="text-gray-200 mb-8 text-xl leading-relaxed">
        <li class="mb-1 inline-flex">
          <span class="flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-4 text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </span>Techno-Scientific: Biology + Chemistry + AI
        </li>
        <li class="mb-1 inline-flex">
          <span class="flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-4 text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </span>Capable Millennials + Seasoned Professionals
        </li>
        <li class="mb-1 inline-flex">
          <span class="flex items-center justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-4 text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
          </span>Meaningful + Transformational Solutions
        </li>
      </ul>
      <p class="text-xl font-normal leading-relaxed text-gray-100 mt-6 ">
        “What attracted me and continues to excite me is the way we combine concepts in Computer Science, AI, Biology, and Chemistry to solve tough problems in the biopharma industry. The strong guidance and hands-on collaboration by the seasoned professionals working along with the young millennials to build the solutions helps all of us in our professional growth tremendously”
      </p>

      <div class="text-gray-400 text-xl font-lexend mt-12">
          <p class="font-bold">Chanukya Nanduri</p>
          <p class="font-light">Project Manager and Solutions Specialist</p>
      </div>
      </p>
    </div>
    <div class=" border-yellow-400 text-gray-300 flex items-center justify-center">
        <div class="inline-flex">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-16 mr-4 p-2  border-2 border-gray-300 rounded-full " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18" />
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-16 ml-4 p-2  border-2 border-gray-300 rounded-full" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
              </svg>
        </div>
        
    </div>
  </div>
</div>
