<div class="">
  <div class="py-20 ag-container-padding max-w-screen-xl  mx-auto">
    <h2 class="ag-h2 text-ag-primary-blue text-center mb-4">Our Voices</h2>
    <p class="ag-h4 mb-20 text-center">Hear what some of our employees have to say.</p>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">

        {% for person in testimonials %}


        <div class="swiper-slide group overflow-hidden  ">
          <div class="image-side px-6 lg:px-12  flex items-center justify-center">
            <img src={{ person.image}} class="rounded-xl  person-image overflow-hidden" alt="">
          </div>
          <div class="text-side  sm:flex items-center">
            <div
              class="testimonial-text-wrapper relative  sm:flex items-center justify-center flex-col pr-6 sm:pr-12 ag-h4">
              <p class="text-gray-600 leading-6 lg:leading-7 mb-8">
                {{ person.quote }}
              </p>

              <div class="bottom-0 w-full">
                <p class="font-semibold text-xl lg:text-2xl mb-2 text-center sm:text-left text-ag-secondary-red-500">{{
                  person.name }}</p>
                <p class="text-gray-700 font-medium text-sm sm:text-base text-center sm:text-left">{{ person.title }}
                </p>
              </div>
            </div>

          </div>
        </div>

        {% endfor %}


      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>

  </div>