<div class="overview-banner border-yellow-500 flex items-center bg-black">
  <div class="ag-container-padding max-w-screen-xl flex  items-center justify-center  py-16 mx-auto border-black">
    <!-- left side of hero section-->

    {#
      <h1 class="text-xl font-light text-left text-gray-300 mb-8">
        TOPICAL HUBS
      </h1>
      #}
    <h4 class="text-4xl
      
        md:text-5xl
          lg:text-7xl
          leading-tight
          text-center w-full  font-medium text-gray-200 mb-8">
        Privacy Policy
      </h4>
    {#
      <h4 class="text-6xl text-left font-medium text-gray-200 mb-8"></h4>
      #}

    <!--right side of hero section -->
  </div>
  <!-- </div> -->
</div>