<div class="max-w-screen-xl  mx-auto py-12 ag-container-padding text-gray-700  ">

  <h2 class="mx-auto mb-6 ag-h4 title-font">
    Aganitha AI Inc., hereby referred to as Aganitha, is committed to protecting the privacy of visitors to our website.
    Aganitha has established this Privacy Policy to explain what information we collect through our websites and how it
    is used. Aganitha does not sell or rent website visitor information, and we do not share visitor information without
    prior consent except as compelled by law.
  </h2>

  <h1 class="ag-h3 uppercase mb-4 text-ag-primary-blue-500">Information Gathered</h1>

  <ul class="ml-6 list-disc mb-8 ag-h4">
    <li class="mb-2">
      Direct communication: We collect information you provide to us such as information shared directly with us when
      you fill out a form, communicate with us via third-party platforms or otherwise communicate with us. The types of
      personal information we may collect include your name, display name, username, email address, business
      information, your content (e.g., articles, blogs published by you) and any other information you choose to
      provide.
    </li>

    <li class="mb-2">
      Activity Information: We collect information about your activity on our website such as your reading engagement
      and when you share links or download data from our website.
    </li>
    <li class="mb-6">
      Device and Usage Information: We collect information about how you access our website, including data about the
      device and network you use, such as your hardware model, operating system version, mobile network, IP address,
      unique device identifiers, browser type, and app version. We also collect information about your activity on our
      website, such as access times, pages viewed, links clicked, and the page you visited before navigating to our
      website.
    </li>
  </ul>

  <h1 class="ag-h3 uppercase text-ag-primary-blue mb-4">Use of information</h1>

  <h2 class="mx-auto mb-2 ag-h4 title-font">
    We use the information we collect to:
  </h2>

  <ul class="ml-6 list-disc mb-4 ag-h4">
    <li class="mb-2">
      Provide, maintain, and improve our website.
    </li>

    <li class="mb-2">
      Monitor and analyse trends, usage, and activities related to the website.
    </li>
    <li class="mb-2">
      Detect, investigate, and prevent security incidents and other malicious, deceptive, fraudulent, or illegal
      activity and protect the rights and property of Aganitha and others
    </li>
    <li class="mb-2">
      Debug to identify and repair errors in our website
    </li>
    <li class="mb-2">
      Derive information or draw inferences about you based on the information we collect. For example, we may make
      inferences about your location based on your IP address or infer reading preferences based on your reading
      history.
    </li>
  </ul>

  <h2 class="mx-auto italic mb-8 ag-h4 title-font">
    If Aganitha or substantially all of its assets were acquired, website visitor information would be an asset that
    would be reviewed and transferred/acquired by a 3rd party. Such transfers may occur and the acquirer may continue to
    use your information as specified in this policy.
  </h2>

  <h1 class="ag-h3 uppercase text-ag-primary-blue-500 mb-4" id="cookies-section">Cookies</h1>

  <h2 class="mx-auto mb-8 ag-h4 title-font">
    Most web browsers are set to accept cookies by default. If you prefer, you can usually adjust your browser settings
    to remove or reject browser cookies. Please note that removing or rejecting cookies could affect the availability
    and functionality of our website.
  </h2>

  <h1 class="ag-h3 uppercase mb-4 text-ag-primary-blue-500">Google Analytics</h1>

  <h2 class="mx-auto mb-6 ag-h4 title-font">
    Aganitha’s website uses the Google analytics cookie. In cases where a user opts-out, Aganitha keeps track of the %
    of visitors opting out.
  </h2>











</div>