<div class="architecture mb-16 mt-12 ">
    <div class="container  mx-auto">
        <div class="">
            <section class="text-gray-700 font-lexend ">
                <div class="container px-16 flex flex-col  pt-12 mt-12 mx-auto lg:items-center">
                    <div class="flex flex-col w-full  text-left lg:text-center">
                        <h1 class="mb-4 text-2xl font-medium  text-black sm:text-5xl "> Reference Solution Architecture</h1>
                        {# tracking wide?  #}
                        {# <p class="mx-auto text-xl font-medium text-left   leading-relaxed text-gray-600 ">A scalable and design-driven approach to building in silico models, pipelines, and platforms for Biopharma. </p> #}
                    </div>
                </div>
            </section>

            <h4 class="text-lg text-gray-600 leading-8 w-4/5 mx-auto  mb-8"></h4>
        </div>

        <div class="w-5/6 mx-auto flex items-center justify-center ">
            <img src="/assets/images/ref.jpg" alt=""/>
        </div>
    </div>
</div>