<div class="section-arch-wrapper font-lexend background-light ">
    <div class="inner-wrapper flex container mx-auto px-16">
        <div class="left-side  flex items-center  border-gray-600 w-1/3">
            <p class="text-3xl text-gray-700 leading-relaxed font-medium">
                A scalable and design-driven approach to building in silico models, pipelines, and platforms for Biopharma.
            </p>
        </div>
        <div class="right-side font-lexend  border-red-400 w-2/3">
            <div class="right-side-wrapper py-24 grid gap-4 grid-cols-2 px-8">
                <div class="arch-card   px-8 py-4 border-yellow-300">
                    <div class="icon flex items-center mb-4 ">
                        <span class="w-12 h-12">
                            <img src="/assets/images/homepage/analysis.png" class="w-12" alt="">
                        </span>
                        <span class="text-xl font-semibold text-gray-700 ml-4 ">
                            Computational Infrastructure
                        </span>
                    </div>
                    <p class="text-lg  leading-relaxed text-gray-600">
                        Designing, setting-up, and managing large-scale high performance computing infrastructure and automating deployment of containerized applications.
                    </p>
                </div>

                <div class="arch-card  px-8 py-4 border-yellow-300">
                    <div class="icon flex items-center mb-4 ">
                        <span class="w-12 h-12">
                            <img src="/assets/images/homepage/pipe.png" class="w-12" alt="">
                        </span>
                        <span class="text-xl font-semibold text-gray-700 ml-4 ">
                            Pipelining Frameworks
                        </span>
                    </div>
                    <p class="text-lg leading-relaxed text-gray-600">
                        Identifying composition of a protein and accelerating drug discovery from a sample with industry standard pipeline frameworks.
                    </p>
                </div>

                <div class="arch-card  px-8 py-4 border-yellow-300">
                    <div class="icon flex items-center mb-4 ">
                        <span class="w-12 h-12">
                            <img src="/assets/images/homepage/genes.png" class="w-12" alt="">
                        </span>
                        <span class="text-xl font-semibold text-gray-700 ml-4 ">
                            Omics Solution Components
                        </span>
                    </div>
                    <p class="text-lg leading-relaxed text-gray-600">
                        Assembling the genome with specific algorithms or aligning with the reference, associating a gene with a disease, identifying if the gene is translating into a protein.
                    </p>
                </div>

                <div class="arch-card   px-8 py-4 border-yellow-300">
                    <div class="icon flex items-center mb-4 ">
                        <span class="w-12 h-12">
                            <img src="/assets/images/homepage/science.png" class="w-12" alt="">
                        </span>
                        <span class="text-xl font-semibold text-gray-700 ml-4 ">
                            Bio/Chem-informatics Knowledge Hubs
                        </span>
                    </div>
                    <p class="text-lg leading-relaxed text-gray-600">
                        Arriving at a variety of client-specific target solutions leveraging the solution components developed in the previous layers
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>