<div class=" border-gray-300 homepage-banner flex">
  <div
    class="section-inner-wrapper   my-auto border-yellow-400 px-4 sm:px-8  lg:container md:px-12 lg:px-16  md:mx-auto  ">
    <!-- left side of hero section-->
    <div class=" lg:w-3/4 md:mx-auto  text-center md:py-24">
      <h1
        class="text-4xl sm:text-5xl sm:leading-tight font-medium leading-snug md:leading-tight md:text-6xl text-gray-50 mb-8 md:mb-12">
        Accelerate drug discovery and development with<span class="text-ag-secondary-red-500">
          {% makeItalic "in
          silico " %}
        </span> solutions
      </h1>
      <h4 class="text-base sm:text-lg md:text-xl leading-8 md:leading-relaxed text-gray-200 font-light mb-12">
        Aganitha partners with global biopharma to accelerate research and development through {% makeItalic "in silico"
        %} based bioinformatics solutions leveraging Cloud, Data, DevOps, Analytics and AI/ML.
      </h4>
      <!--button container-->
      <div>
        <a class="" href="mailto:info@aganitha.ai">
          <div class="cta-button-light w-48 mx-auto">
            GET IN TOUCH

          </div>
        </a>

      </div>
    </div>

    <!--right side of hero section -->
    <div></div>
  </div>
</div>