<div class=" border-gray-300 homepage-banner flex">
  <div class="section-inner-wrapper   my-auto border-yellow-400 px-4 sm:px-8  lg:container md:px-12 lg:px-16  md:mx-auto  ">
    <!-- left side of hero section-->
    <div class=" lg:w-2/3 md:mx-auto  text-center md:py-24">
      <h1 class="text-4xl sm:text-5xl sm:leading-tight leading-snug md:leading-tight md:text-6xl text-gray-50 mb-8 md:mb-12">
       Accelerate  drug discovery and development with in silico solutions.
     </h1>
      <h4 class="text-base sm:text-lg md:text-xl leading-8 md:leading-relaxed text-gray-200 font-light mb-12">
      Aganitha partners with global biopharma to accelerate research and development through in silico based bioinformatics solutions leveraging Cloud, Data, Analytics, DevOps, and AI/ML.
     </h4>
      <!--button container-->
      <div>
        <button class="btn-blue md:text-lg">
        GET IN TOUCH
      </button>
        {# <button class="btn-blue ml-4">
        CASE STUDIES
      </button> #}
      </div>
    </div>

    <!--right side of hero section -->
    <div></div>
  </div>
</div>