<div class=" border-gray-300  homepage-banner flex">
  <div class="section-inner-wrapper  my-auto  border-yellow-400  container px-16  mx-auto  ">
    <!-- left side of hero section-->
    <div class=" w-3/4 py-24">
      <h1 class="ag-h1 text-gray-50 mb-8 w-4/5">
       Accelerate your drug discovery with <span class="italic">in silico</span> solutions.
     </h1>
      <h4 class="text-xl leading-8 text-gray-200 font-light mb-12">
      Aganitha partners with global biopharma to accelerate research and development through <span class="italic">in silico</span> based bioinformatics solutions leveraging Cloud, Data, Analytics, DevOps, and AI/ML.
     </h4>
      <!--button container-->
      <div>
        <button class="btn-blue">
        GET IN TOUCH
      </button>
        {# <button class="btn-blue ml-4">
        CASE STUDIES
      </button> #}
      </div>
    </div>

    <!--right side of hero section -->
    <div></div>
  </div>
</div>