<div class="py-12">
    <section class="text-gray-700  ">
        <div class="max-w-screen-xl  ag-container-padding  flex flex-col  py-4 sm:py-10 mx-auto lg:items-center">
            <div class="flex flex-col w-full text-left">
                <h1 class="mb-8 text-left ag-h3 sm:text-left font-semibold  text-ag-primary-blue   ">Transforming
                    biopharma
                    R&D using computational sciences and AI</h1>
                <p class="text-left mb-4  sm:text-lg md:text-xl leading-relaxed text-gray-700 ">The biopharma industry is in the early stages of a dramatic transformation in how it  innovates, from research to development to clinical trials. We partner with biopharma companies to drive this transformation.</p>
                <p class="text-left  sm:text-lg md:text-xl leading-relaxed text-gray-700 ">Our solutions enable
                    biopharma
                    R&D and IT to efficiently tackle the complexity, scale, and richness of modern R&D and clinical
                    domains. They accelerate adoption of the following transformative ideas to enhance the pace of innovation and deliver research and clinical outcomes.
                    </p>

            </div>
        </div>
    </section>

    <section class="text-gray-700 max-w-screen-xl mx-auto ag-container-padding ">
        {# <div class="max-w-screen-xl border-4 items-center px-5 md:py-8  mx-auto lg:px-16">
            <div class="flex flex-wrap mb-12 text-left">

                {% for item in contextPoints %}

                <div class="w-full group mx-auto sm:w-1/2 lg:w-1/3 px-4 mb-8">
                    <div
                        class="p-6 shadow-lg sm:shadow-md sm:group-hover:shadow-xl rounded-lg  transform transition duration-300 colorful-card border-yellow-300">
                        <div class="  items-center justify-center sm:w-16 w-12  mx-auto mb-2 text-black  rounded-full">
                            <img src={{ item.icon }} alt="">
                            {{item.link }}
                        </div>
                        <h1
                            class="mx-auto  text-lg md:text-xl group-hover:text-blue-900 transition duration-300 font-medium leading-none text-center text-gray-600 xl:text-2xl ">
                            {{ item.title | safe }}
                        </h1>
                        <p class="mx-auto text-sm sm:text-base  text-center  leading-3 text-gray-700 ">
                            {{ item.description | safe}}
                        </p>

                    </div>
                </div>

                {% endfor %}

            </div>
        </div> #}

        <div class="grid xl:gap-6 gap-4 sm:grid-cols-2  xl:grid-cols-3 pt-6 pb-4 ">

            {% for item in contextPoints %}

                <div
                class="context-card-wrapper z-30 shadow-lg md:shadow-none  px-6 py-6 mx-auto  mb-4 max-w-lg hover:shadow-lg transition duration-300 rounded-lg">
                    <div class="context-icon-wrapper my-2">
                        <img src={{ item.icon }} class="w-16" alt="">
                    </div>
                    <div class="context-text-wrapper">
                        <h1 class="context-header h-16 my-4 text-xl lg:text-2xl text-ag-primary-blue-800 font-medium">
                            {{ item.title | safe}}
                        </h1>
                        <p class="context-description sm:text-base text-gray-600">
                            {{ item.description | safe }}
                        </p>
                    </div>
                </div>

            {% endfor %}

        </div>
    </section>

</div>