{% import "macros/cards.njk" as cards %}

<div class="bg-gray-100 mt-0 mb-24 pb-16 border-0 ">
    <div class="section-inner-wrapper container font-lexend mx-auto px-4 lg:px-8">
        <!--title of section-->
        <div class="border-red-400 py-4">
            <h1 class="text-4xl text-black mb-4 mt-12 text-center ">
                Key points
            </h1>
        </div>

        <!-- cards explaning each context point-->

        <div class="cards-container  mt-8 border-yellow-600 grid gap-8 grid-cols-1 md:grid-cols-2 xl:grid-cols-3">

            {% for item in context %}

                {{ cards.textCard(item.heading, item.description) }}

            {% endfor %}

        </div>

    </div>
</div>