<div class="curiosity-section bg-gray-100">
    <div class="curiosity-inner__wrapper py-4 px-6   md:px-8 lg:px-12    md:flex xl:container  mx-auto  md:py-8 ">
        <div class="left-section   mb-4 md:mb-0  py-2  w-full  border-gray-700 font-medium ">
            <p class="text-base sm:text-xl md:text-2xl md:px-2    border-gray-700  leading-tight">
                The biopharma industry is in the early stages of a dramatic transformation in how it  operates, from drug discovery to clinical trials to clinical operations. We partner with the biopharma companies to drive this transformation.
            </p>
        </div>
        {# <div class="right-section md:w-2/3 w-full lg:px-8  text-lg text-gray-700 border-red-400">
            <div class="right-section__wrapper md:h-full  flex justify-center items-center ">
                <p class="mb-4 font-light text-sm md:text-base lg:text-lg border-gray-700">
                    

                </p>
            </div>
        </div> #}
    </div>
</div>