<div class="curiosity-section bg-gray-100">
    <div class="curiosity-inner__wrapper font-lexend flex container  mx-auto px-16 py-8 ">
        <div class="left-section  border-l-4 py-2 w-1/3  border-gray-700 font-medium ">
            <p class="text-xl px-6   border-gray-700  leading-tight">
                Biopharma companies are witnessing  innovation paths expanding from small molecules, natural & recombinant biologicals to targeted cell, gene & advanced therapies.
            </p>
        </div>
        <div class="right-section w-2/3  px-8 text-lg text-gray-700 border-red-400">
            <div class="right-section__wrapper h-full  flex justify-center items-center ">
                <p class="mb-4 font-light  border-gray-700">
                    The biopharma industry is in the early stages of a dramatic transformation in how it operates, from drug discovery  to clinical trials to clinical operations.This transformation is happening in three key areas: research and development, clinical trials, and clinical operations. The core drivers continue to be reducing timelines for drug discovery and increasing the accuracy of predictions on drug efficacy & safety.
                </p>

                {# <a href="" class="flex  curiosity__show__more items-center border-red-500">
                    <span class="text-blue-900 font-bold text-base mr-2">Show me more</span>
                    <span class=" transition duration-300 arrow-1">
                        <svg  xmlns="http://www.w3.org/2000/svg" class="h-6  w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"/>
                        </svg>
                    </span>
                </a> #}
            </div>
        </div>
    </div>
</div>