<div class="bg-gray-50">
    <div class="py-4 ag-container-padding max-w-screen-xl   mx-auto  md:py-8 ">
        <div class="mb-4 md:mb-0  py-2    border-gray-700 font-medium ">
            <p class="text-base   sm:text-lg md:text-xl lg:text-2xl  text-gray-700  ">
                The biopharma industry is in the early stages of a <span class="text-ag-secondary-red font-semibold">dramatic transformation </span> in how it  operates, from drug discovery to clinical trials to clinical operations. We partner with the biopharma companies to drive this transformation.
            </p>
        </div>
    </div>
</div>