{% import "macros/cards.njk" as cards %}

<div class="why-aganitha bg-gray-50">
  <div class=" mx-auto max-w-screen-xl ag-container-padding  pt-12 md:pt-20 ">
    <div class="md:px-16">
      <h1 class="ag-h2 font-semibold text-center mb-6 md:mb-8 text-ag-primary-blue-500 ">
        Why Aganitha?
      </h1>

      <h4 class="
          md:text-xl text-gray-700
          leading-relaxed
          
          text-center
          md:w-4/5
          mx-auto
          md:mb-4
        ">
        Leverage our experience and strengths to build transformational
        solutions in biopharma.
      </h4>
    </div>

    <div class="cards-container ">

      <section class="text-gray-600 ">
        <div class="md:py-12 py-8 mx-auto">
          <div class="grid gap-4 lg:gap-0 md:grid-cols-2">
            {% for item in reasons %}
              <div class="p-2 lg:p-0 rounded-lg  md:max-w-xlg  mx-auto  group w-full">
                <div class="
              
              
                    flex
                    rounded
                    transition
            duration-300
                    group-hover:shadow-xl
                    p-3
                    lg:p-6
                    sm:flex-row
                    flex-col
                  ">
                  <div class="
                      lg:w-16
                      lg:h-16
                      h-12
                      w-12
                      sm:mr-8 sm:mb-0
                      mb-4
                      p-2
                      inline-flex
                      items-center
                      justify-center
                      rounded-full
                      transition
                      duration-300
                      group-hover:bg-ag-secondary-red
                      bg-ag-primary-blue-500
                    
                      flex-shrink-0
                    ">
                    <img src={{ item.icon }} class="w-3/4"/>
                  </div>
                  <div class="flex-grow">
                    <h2
                    class="text-gray-700 text-xl lg:text-2xl group-hover:text-ag-secondary-red-600 transition duration-300 font-medium mb-3">
                      {{ item.name }}
                    </h2>
                    <p
                    class="leading-relaxed text-base  transition duration-300 text-gray-700">
                      {{ item.description }}
                    </p>
                  </div>
                </div>
              </div>

            {% endfor %}
          </div>
        </div>
      </section>

    </div>
  </div>
</div>