{% import "macros/cards.njk" as cards %}

<div class="why-aganitha ">
  <div class="lg:container mx-auto pt-12 md:pt-24 px-6">
    <div class="md:px-16">
      <h1
        class="text-3xl sm:text-4xl md:text-5xl font-medium text-center mb-6 md:mb-8 text-blue-700 "
      >
        Why Aganitha?
      </h1>

      <h4
        class="
          md:text-xl text-gray-600
          leading-relaxed
          text-base
          text-center
          md:w-4/5
          mx-auto
          
          md:mb-8
        "
      >
        Leverage our experience and strengths to build transformational
        solutions in Biopharma
      </h4>
    </div>

    <div class="cards-container ">
     
        <section class="text-gray-600 body-font">
          <div class="lg:container md:py-12 py-8 mx-auto">
            <div class="grid md:grid-cols-2">
              {% for item in reasons %}
              <div class="p-2  group w-full">
                <div
                  class="
                    flex
                    rounded-lg
                    group-hover:shadow-lg
                    group-hover:bg-white
                    transition
                    duration-300
                    p-6
                    sm:flex-row
                    flex-col
                  "
                >
                  <div
                    class="
                      lg:w-16
                      lg:h-16
                      h-12
                      w-12
                      sm:mr-8 sm:mb-0
                      mb-4
                      p-2
                      inline-flex
                      items-center
                      justify-center
                      rounded-full
                      bg-blue-500
                    
                      flex-shrink-0
                    "
                  >
                    <img src={{ item.icon }} class="w-3/4" />
                  </div>
                  <div class="flex-grow">
                    <h2 class="text-gray-700 text-xl group-hover:text-blue-700 transition duration-300 font-medium mb-3">
                      {{ item.name }}
                    </h2>
                    <p class="leading-relaxed group-hover:text-gray-500 transition duration-300 text-gray-500">
                      {{ item.description }}
                    </p>
                  </div>
                </div>
              </div>

              {% endfor %}
            </div>
          </div>
        </section>
    
    </div>
  </div>
</div>
