{% extends "default.njk" %}

{% block title%} Aganitha {% endblock %}

{% block content %}

   {% include "partials/contact/_banner.njk" %}
   {% include "partials/contact/_intro.njk" %}

   {# {% include "contact.njk"%} #}

   {# <div class="bg-gray-50">
   {% include "partials/contact/_location1.njk" %}
   </div>
   <div class="bg-blue-50">
   {% include "partials/contact/_location2.njk" %}
   </div>
   <div class="bg-gray-50">
   {% include "partials/contact/_location3.njk" %}
   </div> #}

{% endblock %}