<div class="omics-highlights-wrapper container py-24 px-16">
  {#
  <h3 class="text-4xl text-black my-8 w-4/5" id="content">
    Solution Highlights
  </h3>
  #}

  <div class="grid gap-8 grid-cols-3 px-16">
    <!-- {# {% for item in solutions.omics.solutionHighlights %}
    <div
      class="
        my-2
        bg-white
        border border-gray-50
        rounded-lg
        shadow
        transform
        hover:-translate-y-1 hover:shadow-lg
        transition
        duration-300
      "
    >
      <div class="p-6">
        <h2
          class="
            mb-8
            text-sm
            font-semibold
            tracking-widest
            text-black
            uppercase
            title-font
          "
        >
          {{ item.title }}
        </h2>
        <p
          class="mb-3 text-base leading-relaxed text-gray-500"
          class="{{item.background"
          }}
        >
          {{ item.description }}
        </p>
        <p></p>
      </div>
    </div>
    {% endfor %} #} -->

    <div
      class="
        my-2
        bg-white
        border border-gray-50
        rounded-lg
        shadow
        transform
        hover:-translate-y-1 hover:shadow-lg
        transition
        duration-300
      "
    >
      <div class="">
        <div
          class="card-heading h-16 flex items-center justify-center bg-blue-50"
        >
          <h2
            class="
              text-sm
              font-semibold
              tracking-widest
              text-blue-700
              uppercase
              title-font
            "
          >
            Natural Language Processing
          </h2>
        </div>

        <p
          class="px-8 py-4 text-base text-center leading-relaxed text-gray-500"
        >
          Utilize NLP to understand the text, domain (bio & chemical) ontology to consolidate information from multiple and diverse sources
        </p>
        <p></p>
      </div>
    </div>

    <div
      class="
        my-2
        bg-white
        border border-gray-50
        rounded-lg
        shadow
        transform
        hover:-translate-y-1 hover:shadow-lg
        transition
        duration-300
      "
    >
      <div class="">
        <div
          class="
            card-heading
            h-16
            flex
            items-center
            justify-center
            bg-yellow-50
          "
        >
          <h2
            class="
              text-sm
              font-semibold
              tracking-widest
              text-yellow-700
              uppercase
              title-font
            "
          >
            Web Crawlers
          </h2>
        </div>

        <p
          class="px-8 py-4 text-base text-center leading-relaxed text-gray-500"
        >
          Using crawlers and NLP to search the internet for relevant publicly available data
        </p>
        <p></p>
      </div>
    </div>

    <div
      class="
        my-2
        bg-white
        border border-gray-50
        rounded-lg
        shadow
        transform
        hover:-translate-y-1 hover:shadow-lg
        transition
        duration-300
      "
    >
      <div class="">
        <div
          class="card-heading h-16 flex items-center justify-center bg-green-50"
        >
          <h2
            class="
              text-sm
              font-semibold
              tracking-widest
              text-green-700
              uppercase
              title-font
            "
          >
            Insert phrase here
          </h2>
        </div>

        <p
          class="px-8 py-4 text-base text-center leading-relaxed text-gray-500"
        >
          Enable alerts that mine global, local news as well as tweets for relevant insights
        </p>
        <p></p>
      </div>
    </div>

    <div
      class="
        my-2
        bg-white
        border border-gray-50
        rounded-lg
        shadow
        transform
        hover:-translate-y-1 hover:shadow-lg
        transition
        duration-300
      "
    >
      <div class="">
        <div
          class="card-heading h-16 flex items-center justify-center bg-red-50"
        >
          <h2
            class="
              text-sm
              font-semibold
              tracking-widest
              text-red-700
              uppercase
              title-font
            "
          >
            Insert phrase here
          </h2>
        </div>

        <p
          class="px-8 py-4 text-base text-center leading-relaxed text-gray-500"
        >
          Monitoring updates to websites/databases of interest and subscriptions
        </p>
        <p></p>
      </div>
    </div>

    <div
      class="
        my-2
        bg-white
        border border-gray-50
        rounded-lg
        shadow
        transform
        hover:-translate-y-1 hover:shadow-lg
        transition
        duration-300
      "
    >
      <div class="">
        <div
          class="
            card-heading
            h-16
            flex
            items-center
            justify-center
            bg-purple-50
          "
        >
          <h2
            class="
              text-sm
              font-semibold
              tracking-widest
              text-purple-700
              uppercase
              title-font
            "
          >
            Near Real time updates
          </h2>
        </div>

        <p
          class="px-8 py-4 text-base text-center leading-relaxed text-gray-500"
        >
          In-built pull-based systems such as APIs for data sources where subscriptions are available, for near real-time updates
        </p>
        <p></p>
      </div>
    </div>

    <div
      class="
        my-2
        bg-white
        border border-gray-50
        rounded-lg
        shadow
        transform
        hover:-translate-y-1 hover:shadow-lg
        transition
        duration-300
      "
    >
      <div class="">
        <div
          class="card-heading h-16 flex items-center justify-center bg-pink-50"
        >
          <h2
            class="
              text-sm
              font-semibold
              tracking-widest
              text-pink-700
              uppercase
              title-font
            "
          >
            Structured information 
          </h2>
        </div>

        <p
          class="px-8 py-4 text-base text-center leading-relaxed text-gray-500"
        >
          Structuring the information in graph database enabling the flexibility to continuously expand data ingestion sources
        </p>
        <p></p>
      </div>
    </div>
  </div>
</div>
