<div class="solution-wrapper py-12 container px-16">
  <div class="solution-inner-wrapper grid grid-cols-2">
    <div class="left-side px-16 py-4">
      <h3 class="text-4xl text-gray-800 font-semibold my-8 w-4/5" id="content">
        Our Solution
      </h3>

      <h4 class="text-lg text-gray-600 leading-8 mb-4">
        As the process of gathering intel for such use cases has certain repetitive elements, there is a scope for unlocking efficiencies in putting together this intel by leveraging the latest technologies in web mining, data pipelining and artificial intelligence.
      </h4>

      <div class="text-lg text-gray-600 leading-8">
        Aganitha solution utilizes Bot army to feed off data sources, process the information and update the knowledge graph with relevant nodes and edges to capture key entities and their relationships. The solution is powered by automation for long term advantage and replicability, at the same time ensuring flexibility for long term needs. 
      </div>
    </div>

    <div class="right-side flex items-center justify-center">
      <img
        class="opacity-30 rounded-xl"
        src="https://picsum.photos/600/400?grayscale&blur=8"
      />
    </div>
  </div>
</div>
