{% extends "default.njk" %}
{% block title%}Omics Pipelining | Aganitha AI {% endblock %}
{% set description = "Aganitha Omics Pipelining Solution - Rapid, scalable, affordable, managed enterprise-class Omics pipelining on HPC/Cloud as a managed service." %}
{% block
content %}
  {% include "partials/omics/_banner.njk" %}

  <div class="border-green-200 relative mx-auto content-wrapper">
    <div class="main-content" id="content">

      {% include "partials/omics/_intro.njk" %}
      <div class="">
        {% include "partials/omics/_solution.njk" %}
      </div>

      <div class="">
        {% include "partials/omics/_highlights.njk" %}
      </div>
      {# {% include "partials/omics/_tabs.njk"%} #}

      <div class="bg-ag-primary-blue-600">
        {% include "partials/omics/_benefits.njk" %}
      </div>

    </div>
  </div>
</div>
{% include "partials/_demo.njk" %}
{% include "partials/omics/_relatedSolutions.njk" %}

{% endblock %}