{% macro basicAccordion(heading, description, icon) %}

    <div class="accordion-wrapper inline-block my-2 border-b-2">
        <button
          class="
            accordion
            w-full
            text-gray-700
            cursor-pointer
            p-2
            
            outline-none
            transition-all
            flex
            items-center
          "
        >
            <span class="w-4/5 h-full border-gray-800 text-left">

                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 text-gray-600 mr-4 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.428 15.428a2 2 0 00-1.022-.547l-2.387-.477a6 6 0 00-3.86.517l-.318.158a6 6 0 01-3.86.517L6.05 15.21a2 2 0 00-1.806.547M8 4h8l-1 1v5.172a2 2 0 00.586 1.414l5 5c1.26 1.26.367 3.414-1.415 3.414H4.828c-1.782 0-2.674-2.154-1.414-3.414l5-5A2 2 0 009 10.172V5L8 4z"/>
                </svg>

                {{ heading }}
            </span>
            <span class="w-1/5 h-full flex justify-end items-center border-gray-800">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 text-gray-400 transform transition duration-500 " fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
                </svg>
            </span>
        </button>
        <div class="panel block transition-all duration-500 h-0 overflow-hidden">
            <p class="text-gray-500 px-2 py-4">
                {{description }}
            </p>
        </div>
    </div>

{% endmacro %}