{% macro textCard(heading, description, hyperlink = "/") %}

  <div class="card-outer-wrapper font-lexend rounded p-2 md:p-8 mx-4 hover:shadow-lg transition  border-2 border-gray-200  bg-white">
    <div class="card-inner-wrapper md:h-80 h-auto grid grid-flow-rows grid-rows-3  border-yellow-800 flex-col">
      <div class="card-heading row-start-1 flex items-start row-span-1border-red-400">
        <h1 class="lg:text-xl text-lg  font-medium py-4">{{ heading }}</h1>
      </div>
      <div class="card-description  row-start-2 row-span-3 flex items-start border-green-200">
        <p class="lg:text-base text-leading text-sm  py-4 text-gray-500">
          {{ description }}
        </p>
      </div>
      <div class="card-cta row-span-1  flex border-yellow-400">
        <span class="py-4 group arrow-container flex items-start   hover:text-blue-600 text-lg">
          <a class="font-medium lg:text-md text-sm flex items-center flex-row w-36  text-blue-700" href="/">
            <span> LEARN MORE</span>

            <svg xmlns="http://www.w3.org/2000/svg" class=" ml-2 arrow  transition-all transform text-blue-700 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"/>
            </svg>
          </a>
        </span>
      </div>
    </div>

  </div>

{% endmacro %}

{% macro hoverCard(heading, icon, description) %}

  <div class="xl:w-1/3 md:w-1/2 p-4">
    <div class="border overflow-hidden group transition-all h-64 bg-transparent border-blue-900 p-6 rounded-lg">
      <div class="w-full group-hover:hidden transition-all inline-flex items-center justify-center   text-blue-600 mb-4">
        {{ icon | safe}}
      </div>
      <h2 class="text-2xl group-hover:hidden mt-4 text-center text-gray-100 font-medium title-font mb-2">
        {{ heading }}
      </h2>

      <p class="w-full mt-4 leading-8 text-lg transform translate-y-32  group-hover:translate-y-0 transition  text-gray-200">{{description }}
      </p>

    </div>
  </div>

{% endmacro %}

{% macro hoverCardShadow(heading, icon, description) %}

  <div class="xl:w-1/3 md:w-1/2 p-4">
    <div class="shadow-md hover:shadow-xl transform hover:-translate-y-1  overflow-hidden group transition-all h-60 bg-white border-gray-200 p-6 rounded-lg">
      <div class="w-full group-hover:hidden transition-all inline-flex items-center justify-center   text-blue-600 mb-4">
        {{ icon | safe}}
      </div>
      <h2 class="text-2xl group-hover:hidden mt-4 text-center text-gray-900 font-medium title-font mb-2">
        {{ heading }}
      </h2>

      <p class="w-full mt-4 leading-8 transform translate-y-32  group-hover:translate-y-0 transition  text-gray-500">{{description }}
      </p>

    </div>
  </div>

{% endmacro %}