{% macro ctaWide(text, button) %}

  <div class="border-red-500 bg-ag-primary-blue-30">
    <div class="section-inner-wrapper max-w-screen-xl ag-container-padding py-4 mx-auto ">
      <!-- left side of hero section-->
      <div class=" py-4 sm:py-5 w-full">
        <h1 class="
          ag-h3
         
          text-center
          font-bol
          text-ag-primary-blue-400
          w-full
        ">
          {{ text }}

          <!--button container-->
        </div>

        <div class="py-2  w-full text-center flex items-center justify-center">

          <a class="
         cta-button
        " href="mailto:info@aganitha.ai">
            {{ button }}
          </a>
        </div>
      </div>
    </div>

  {% endmacro %}