{% extends "default.njk" %} {% block title%} Aganitha {% endblock %} {% block
content %} 

{% include "partials/overview/_banner.njk" %}
{% include "partials/overview/_intro.njk" %}
<div class="bg-blue-50">
{% include "partials/overview/_transformation.njk" %}
</div>
{% include "partials/overview/_help.njk" %}
<div class="bg-gray-50">
{% include "partials/overview/_reference.njk" %}
</div>


{% endblock %}