{% extends "default.njk" %}

{% block title%} Aganitha {% endblock %}

{% block content %}

   {% include "partials/about/_banner.njk" %}
   {% include "partials/about/_intro.njk" %}
   {% include "partials/about/_whatwedo.njk" %}
   {% include "partials/about/_examples.njk" %}
   {% include "partials/about/_why.njk" %}
   {% include "partials/_joinUs.njk" %}
   <div class="bg-gray-100">{% include "contact.njk" %}</div>

{% endblock %}