{% import "macros/cards.njk" as cards %}

<div class="border-gray-300 about-banner bg-black">
  <div
    class="
      section-inner-wrapper
      font-lexend
      container
      px-16
      mx-auto
      border-black
    "
  >
    <!-- left side of hero section-->
    <div class="py-24">
      <h1
        class="
          text-6xl
          leading-tight
          text-center
          w-1/2
          mx-auto
          text-gray-50
          mb-8
        "
      >
        We are Aganitha, your Computational Twin.
      </h1>
      <h4
        class="
          text-xl
          w-3/5
          text-center
          mx-auto
          leading-8
          text-gray-200
          font-light
          mb-8
        "
      >
        Aganitha (अगणित) “countless” or “limitless” in Sanskrit serves as a
        reminder and inspiration about the limitless potential in each one of
        us, and how Artificial Intelligence (AI) expands that potential
        infinitely further.
      </h4>
    </div>

    <!--right side of hero section -->
    <div></div>
  </div>
</div>

<div class="py-16 tracking-wide bg-blue-50">
  <div class="container px-36 mx-auto">
    <div class="">
      <div class="text-3xl flex text-gray-800 mb-8">
        <span class="font-medium text-4xl leading-relaxed text-gray-800 w-1/4">
          <span class="text-blue-800">Our</span> <br />
          Mission:
        </span>
        <span class="leading-relaxed flex items-center w-3/4">
          Accelerate drug discovery and development by applying the power of
          Data, Cloud, Analytics and AI/ML for in silico based solutions.
        </span>
      </div>
    </div>
  </div>
</div>

<div class="intro-wrapper py-24 container mx-auto px-16">
  <div class="intro-inner-wrapper grid grid-cols-2">
    <div class="left-side flex items-center justify-center">
      <img
        src="https://picsum.photos/600/400?grayscale&blur=8"
        class="rounded-lg"
        alt=""
      />
    </div>
    <div class="right-side px-16 py-4">
      <!-- <h3 class="text-4xl text-gray-800 font-semibold my-8 w-4/5" id="content">
        You focus on the science, we'll take care of the rest.
      </h3> -->

      <h4 class="text-xl text-gray-600 leading-8 mb-4">
        At Aganitha, we partner with global bio pharma companies to complement
        the traditional lab based approaches with in silico approaches and
        solutions to research and development.
      </h4>

      <h4 class="text-xl text-gray-600 leading-8 mb-4">
        We adopt multi-disciplinary approaches blending and translating the
        latest knowledge in Biology, Chemistry, BioPharma and Computing areas.
      </h4>

      <h4 class="text-xl text-gray-600 leading-8 mb-4">
        We are investing in industry and academic coalitions to continuously
        expand the diversity of the talent we hire, and the range of solutions
        Aganitha provides to its customers.
      </h4>
    </div>
  </div>
</div>

<div class="mb-16">
  <div class="aganitha-values container px-16 mx-auto">
    <div class="mx-auto text-center mb-4 items-center border-gray-600">
      <p
        class="
          text-4xl
          w-2/3
          mx-auto
          border-yellow-200
          text-gray-700
          leading-relaxed
          font-medium
          mb-24
        "
      >
        We care deeply about our values, they are fundamental to the success of
        our organisation.
      </p>
    </div>

    <div class="grid gap-8 grid-cols-3">
      <div
        class="
          arch-card
          overflow-hidden
          shadow-lg
          group
          transition
          duration-300
          rounded-lg
          hover:-translate-y-2 hover:shadow-xl
          transform
          my-4
          border-yellow-300
        "
      >
        <div
          class="
            icon
            bg-blue-50
            py-2
            flex flex-row
            items-center
            justify-center
            mb-4
          "
        >
          <span class="w-12 mr-4">
            <img src="/assets/images/values/user.png" class="w-12" alt="" />
          </span>
          <span
            class="text-lg font-semibold uppercase tracking-wider text-blue-700"
          >
            Inclusive and open minded
          </span>
        </div>
        <p
          class="
            text-base text-center
            px-4
            py-2
            pb-4
            leading-relaxed
            text-gray-600
          "
        >
          Open to champion and support different perspectives. We help create an
          inclusive and empowering environment within the team.
        </p>
      </div>

      <div
        class="
          arch-card
          overflow-hidden
          shadow-lg
          group
          transition
          duration-300
          rounded-lg
          hover:-translate-y-2 hover:shadow-xl
          transform
          my-4
          border-yellow-300
        "
      >
        <div
          class="
            icon
            bg-blue-50
            py-2
            flex flex-row
            items-center
            justify-center
            mb-4
          "
        >
          <span class="w-12 mr-4">
            <img src="/assets/images/values/growth.png" class="w-12" alt="" />
          </span>
          <span
            class="text-lg font-semibold uppercase tracking-wider text-blue-700"
          >
            Mentorship and growth
          </span>
        </div>
        <p
          class="
            text-base text-center
            px-4
            py-2
            pb-4
            leading-relaxed
            text-gray-600
          "
        >
          Nudge in the right direction to encourage learning and ideation
          Encourage ownership mentality and creative outloo
        </p>
      </div>

      <div
        class="
          arch-card
          overflow-hidden
          shadow-lg
          group
          transition
          duration-300
          rounded-lg
          hover:-translate-y-2 hover:shadow-xl
          transform
          my-4
          border-yellow-300
        "
      >
        <div
          class="
            icon
            bg-blue-50
            py-2
            flex flex-row
            items-center
            justify-center
            mb-4
          "
        >
          <span class="w-12 mr-4">
            <img src="/assets/images/values/heart.png" class="w-12" alt="" />
          </span>
          <span
            class="text-lg font-semibold uppercase tracking-wider text-blue-700"
          >
            Valuable Provider
          </span>
        </div>
        <p
          class="
            text-base text-center
            px-4
            py-2
            pb-4
            leading-relaxed
            text-gray-600
          "
        >
          Positive and collaborative customer experience Be an equal footing
          partner to augment customer needs
        </p>
      </div>

      <div
        class="
          arch-card
          overflow-hidden
          shadow-lg
          group
          transition
          duration-300
          rounded-lg
          hover:-translate-y-2 hover:shadow-xl
          transform
          mb-4
          border-yellow-300
        "
      >
        <div
          class="
            icon
            bg-blue-50
            py-2
            flex flex-row
            items-center
            justify-center
            mb-4
          "
        >
          <span class="w-12 mr-4">
            <img src="/assets/images/values/target.png" class="w-12" alt="" />
          </span>
          <span
            class="text-lg font-semibold uppercase tracking-wider text-blue-700"
          >
            Focus and excellence
          </span>
        </div>
        <p
          class="
            text-base text-center
            px-4
            py-2
            pb-4
            leading-relaxed
            text-gray-600
          "
        >
          Perform our best together as a team and walk the extra mile Focus on
          what matters the most, what and how to do it to achieve desired
          outcome
        </p>
      </div>

      <div
        class="
          arch-card
          overflow-hidden
          shadow-lg
          group
          transition
          duration-300
          rounded-lg
          hover:-translate-y-2 hover:shadow-xl
          transform
          mb-4
          border-yellow-300
        "
      >
        <div
          class="
            icon
            bg-blue-50
            py-2
            flex flex-row
            items-center
            justify-center
            mb-4
          "
        >
          <span class="w-12 mr-4">
            <img
              src="/assets/images/values/quality-assurance.png"
              class="w-12"
              alt=""
            />
          </span>
          <span
            class="text-lg font-semibold uppercase tracking-wider text-blue-700"
          >
            Quality and consistency
          </span>
        </div>
        <p
          class="
            text-base text-center
            px-4
            py-2
            pb-4
            leading-relaxed
            text-gray-600
          "
        >
          Embibe quality as paramount and remains uncompromised Bring new
          solutions and platforms, and deliver value to stakeholders
          consistently
        </p>
      </div>

      <div
        class="
          arch-card
          overflow-hidden
          shadow-lg
          group
          transition
          duration-300
          rounded-lg
          hover:-translate-y-2 hover:shadow-xl
          transform
          mb-4
          border-yellow-300
        "
      >
        <div
          class="
            icon
            bg-blue-50
            py-2
            flex flex-row
            items-center
            justify-center
            mb-4
          "
        >
          <span class="w-12 mr-4">
            <img src="/assets/images/values/trust.png" class="w-12" alt="" />
          </span>
          <span
            class="text-lg font-semibold uppercase tracking-wider text-blue-700"
          >
            Trust and Reliability
          </span>
        </div>
        <p
          class="
            text-base text-center
            px-4
            py-2
            pb-4
            leading-relaxed
            text-gray-600
          "
        >
          Maintain complete transparency internally and externally Fulfil the
          commitments and win unwavering trust
        </p>
      </div>
    </div>
  </div>
</div>

<div class="background-light text-gray-600 py-12">
  <div class="container font-lexend px-16 mx-auto">
    <h4 class="text-4xl font-lexend leading-snug text-gray-800 mb-8">
      Why do we care?
    </h4>
    <div class="grid-cols-2 grid gap-12">
      <!-- <div class="flex border items-center justify-center">
                <img src="https://picsum.photos/800/600/?blur=5" class="rounded object-fit" alt="">
            </div> -->

      <p class="text-lg mb-4 leading-8">
        Discovery and development of drugs today is dramatically different from
        even a decade ago. Available innovation paths have rapidly expanded from
        small molecules, natural and recombinant biologicals to targeted cell,
        gene and advanced therapies that use viral and non-viral nano
        technologies as delivery vectors. The mechanisms of action are
        increasingly diverse with explosive innovation driving them. Most of the
        research has also progressed from single drugs to platform solutions.
      </p>
      <p class="text-lg mb-4 leading-8">
        Most importantly, today’s research and development processes require a
        strong cross-disciplinary approach, spanning Chemistry, Biology and
        advanced Computation. These fields are being transformed by the rapid
        progress in informatics, data and AI/Machine learning. The current
        global pandemic of COVID only highlights a problem known for a few
        years: there is a large unmet need for rapid development and
        manufacturing of medicines (preventives & cures) for new as well as long
        established diseases.
      </p>
    </div>
  </div>
</div>

{% include "partials/_joinUs.njk" %} {# {% include "partials/_joinUs.njk" %} #}
<div class="bg-gray-100">{% include "contact.njk" %}</div>
