<div class=" text-gray-600  py-4 ">
  <div class="container px-16  flex mx-auto">
   <div class=" py-12 border-t-2 flex">
       <div class="w-1/3 px-4">
           <h3 class="font-medium text-4xl text-gray-800">Areas of previous work</h1>
       </div>
       <div class="w-2/3">
           <ul
        class="careers-list  list-disc text-left text-lg text-gray-600 leading-relaxed ">
        <li class="mb-2">
            Identifying previously unknown viral variants as vectors for gene therapy platforms
        </li>
        <li class="mb-2">
            Predicting yield of reactions such as Suzuki-Miyaura
        </li>
        <li class="mb-2">Predicting the structure of certain proteins with tools such as AlphaFold2 and RosettaFold</li>
        <li class="mb-2">
            Near push-button GWAS analysi
        </li>
        <li class="mb-2">
            Informatics solutions analyzing endpoints and biomarkers of disease specific clinical trials combining public and private data sets 

        </li>
      </ul>
       </div>
   </div>
   </div>
   </div>