{# <div class=" text-gray-600  py-4 lg:py-10 ">
    <div class="xl:container  px-8 sm:px-16  flex mx-auto">
        <div class="pt-10 lg:pt-12 px-3 border-t-2 lg:flex">
            <div class="lg:w-1/3 px-4">
                <h3 class="sm:font-medium font-bold lg:text-left text-center mb-8 lg:mb-0 text-2xl sm:text-3xl md:text-4xl text-blue-800">Examples of our work</h1>
            </div>
            <div class="lg:w-2/3">
                <ul
        class="careers-list  list-disc  text-left lg:text-lg text-gray-600 lg:leading-relaxed ">
                    <li class="mb-2">
            Identifying previously unknown viral variants as vectors for gene therapy platforms
        </li>
                    <li class="mb-2">
            Predicting yield of reactions such as Suzuki-Miyaura
        </li>
                    <li class="mb-2">Predicting the structure of certain proteins with tools such as AlphaFold2 and RosettaFold</li>
                    <li class="mb-2">
            Near push-button GWAS analysis
        </li>
                    <li class="mb-2">
            Informatics solutions analyzing endpoints and biomarkers of disease specific clinical trials combining public and private data sets 

        </li>
                </ul>
            </div>
        </div>
    </div>
</div> #}

<section class="py-10 md:py-14 lg:py-20">
    <div class="ag-container-padding  max-w-screen-xl mx-auto">
        <div class="why-aganitha mb-6 sm:mb-12 text-center">
            <h1 class="ag-h3 mb-4 text-ag-primary-blue">Examples of our work</h1>
            <!-- <p class="ag-h4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, obcaecati.</p> -->
        </div>

        <div class="reasons grid sm:grid-cols-2 gap-8">
            {% for item in previousWorks %}
                <div class="reason-card   max-w-lg  flex">
                    <div class="">
                        <svg xmlns="http://www.w3.org/2000/svg" class=" w-6 text-ag-secondary-red-500" viewBox="0 0 20 20"
            fill="currentColor">
                            <path fill-rule="evenodd"
              d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
              clip-rule="evenodd"/>
                        </svg>
                    </div>
                    <p class="text-gray-700 ag-h4 ml-3">
                        {{ item | safe }}</p>

                </div>

            {% endfor %}

        </div>
    </div>
</section>