<div class="intro-wrapper pt-24 pb-12 container mx-auto px-16">
  <div class="intro-inner-wrapper grid gap-12 grid-cols-2">
    <div class="left-side flex items-center justify-center">
      <img
        src="/assets/images/arrows.jpeg"
        class="rounded-lg shadow-2xl"
        alt=""
      />
    </div>
    <div class="right-side py-4">
      <h3 class="text-4xl text-blue-800 font-semibold my-8 w-4/5" id="content">
        Our Inspiration
      </h3>

      <h4 class="text-lg text-gray-600 leading-8 mb-4">
        We wake up each morning excited about helping our customers and partners bring medicines closer to human use. The joy of working in an innovation rich, research powered startup bridging multiple disciplines drives us. With each of our special skills from different disciplines, we can make a tremendous impact!
      </h4>

      <h4 class="text-lg text-gray-600 leading-8 mb-4">
        Computing is key to bringing the medicines to market faster. In silico solutions, deep chemistry, computational biology, omics and high throughput science solutions, for example, are transforming the biopharma industry. Our cross domain team of experts work with proprietary and open platforms to embark upon and industrialize this transformation.
      </h4>
    </div>
  </div>
</div>
