<div class="">
  <div class="container grid grid-cols-2 py-12 gap-8  mx-auto px-16">
    <div class="flex items-center justify-center">
      <div>
        <h1 class="text-4xl font-medium leading-snug text-blue-800 mb-8">
          Curious about our name?
        </h1>
        <p class="text-xl mb-4 leading-relaxed text-gray-600">
          Aganitha (अगणित): “countless” or “limitless” in Sanskrit serves as a
          reminder and inspiration about the limitless potential in each one of
          us.
        </p>
      </div>
    </div>

    <div class="image-wrapper flex items-center justify-center">
      <img src="/assets/images/logo-crop.png" class="h-72" alt="" />
    </div>
  </div>
</div>
