<div class="border-gray-300 banner-height bg-black">
  <div class="section-inner-wrapper about-banner w-full border-black">
    <!-- left side of hero section-->
    <div class="py-24 text-center lg:px-36">
      <h1 class="
          text-3xl
          font-semibold
          sm:text-4xl
          md:text-5xl
          lg:text-6xl
          leading-tight
          text-gray-50
          mb-8
        ">
        Leadership
      </h1>
      <h4 class="
          text-base
          px-4
          sm:text-lg
          lg:text-xl
          sm:w-3/4
          mx-auto
          lg:leading-8
          text-gray-200
          font-light
          mb-8
        ">
        We are a team of IIT alumni with published papers, books, patents and
        experience in research. Industry veterans with prior experience of
        successful startups, managed thousands of employees, hundreds of million
        dollars of revenue, and worked with fortune 500 companies.
      </h4>
      <!--button container-->

      <!--right side of hero section -->
      <div></div>
    </div>
  </div>
</div>

{% for person in leadership %}

<section class={{ person.background }}>
  <div class="max-w-screen-xl  text-gray-700 ag-container-padding mx-auto leader-section">

    <div class="mx-auto flex py-24 md:flex-row flex-col items-center">
      <div class="md:w-1/2 w-full flex items-center justify-center mb-10 md:mb-0">
        <img class="
              object-cover object-center
              leader-image
              rounded-full
              h-64
              w-64
              sm:h-80 sm:w-80
              md:w-96 md:h-96
            " alt="hero" src={{ person.photo }} />
      </div>

      <div class="
            lg:flex-grow
            group
            md:w-1/2 md:px-6
            lg:px-8
            flex flex-col
            md:items-start md:text-left
            items-center
            text-center
          ">
        <h1 class="
              title-font
              relative
              items-baseline
              justify
            
              text-2xl
              sm:text-3xl
              md:text-4xl
              mb-8
              font-semibold
              text-ag-secondary-red-500
            ">
          {{ person.name }}
          <span class="
                bottom-0
                ml-2
                sm:ml-4
                absolute
                text-3xl
                sm:text-4xl
                cursor-pointer
                text-ag-primary-blue-500
                md:justify-start
                justify-center
                items-baseline
              ">
            <i class="bx bxl-linkedin-square"></i>
          </span>
        </h1>

        {% for para in person.description %}
        <p class="
              mb-4
              text-base
              text-justify
              sm:text-left
              sm:leading-snug
              lg:leading-relaxed
              text-gray-600
              sm:text-lg
            ">
          {{ para }}
        </p>

        {% endfor %}
      </div>
    </div>

  </div>
</section>

{% endfor %}