<div class="border-gray-300 banner-height bg-black">
  <div class="section-inner-wrapper about-banner w-full border-black">
    <!-- left side of hero section-->
    <div class="py-24 text-center lg:px-36">
      <h1
        class="
          text-3xl
          font-semibold
          sm:text-4xl
          md:text-5xl
          lg:text-6xl
          leading-tight
          text-gray-50
          mb-8
        "
      >
        Leadership
      </h1>
      <h4
        class="
          text-base
          px-4
          sm:text-lg
          lg:text-xl
          sm:w-3/4
          mx-auto
          lg:leading-8
          text-gray-200
          font-light
          mb-8
        "
      >
        We are a team of IIT alums with published papers, books, patents and
        experience in research. Industry veterans with prior experience of
        successful startups, managed thousands of employees, hundreds of million
        dollars of revenue, and worked with fortune 500 companies.
      </h4>
      <!--button container-->

      <!--right side of hero section -->
      <div></div>
    </div>
  </div>
</div>

<div class="xl:container mx-auto">
  <section class="text-gray-600 px-6 lg:px-20 xl:px-24 body-font">
    <div
      class="xl:container mx-auto flex py-24 md:flex-row flex-col items-center"
    >
      <div
        class="md:w-1/2 w-full flex items-center justify-center mb-10 md:mb-0"
      >
        <img
          class="
            object-cover object-center
            leader-image
            rounded-full
            h-64
            w-64
            sm:h-80 sm:w-80
            md:w-96 md:h-96
          "
          alt="hero"
          src="/assets/images/team/vikram-photo.jpg"
        />
      </div>

      <div
        class="
          lg:flex-grow
          group
          md:w-1/2 md:px-6
          lg:px-8
          flex flex-col
          md:items-start md:text-left
          items-center
          text-center
        "
      >
        <h1
          class="
            title-font
            relative
            items-baseline
            justify
            sm:text-4xl
            text-3xl
            mb-8
            font-semibold
            text-blue-800
          "
        >
          Vikram Duvvori
          <span
            class="
              bottom-0
              ml-4
              absolute
              text-3xl
              sm:text-4xl
              cursor-pointer
              text-blue-700
              md:justify-start
              justify-center
              items-baseline
            "
          >
            <i class="bx bxl-linkedin-square"></i>
          </span>
        </h1>

        <p
          class="
            mb-4
            text-base
            sm:leading-snug
            lg:leading-relaxed
            text-gray-600
            sm:text-lg
            lg:text-xl
          "
        >
          An early AI researcher at IIT Bombay and Univ. of California, Vikram
          is a serial entrepreneur and founder of multiple silicon valley
          startups that were further scaled at global corporations. In his
          previous role, Vikram served as Corp. Vice President, Chief
          Technologist & Head of Enterprise Transformation business at HCL
          Technologies and managed a multibillion portfolio.
        </p>

        <p
          class="
            mb-4
            text-base
            sm:leading-snug
            lg:leading-relaxed
            text-gray-600
            sm:text-lg
            lg:text-xl
          "
        >
          He holds several patents in the areas of Security and Data. As CEO of
          Aganitha, Vikram has been engaged with leading global biopharma to
          bring in innovations in molecular medicine.
        </p>
      </div>
    </div>
  </section>
</div>

<div class="bg-gray-50">
  <section class="text-gray-600 px-6 lg:px-20 xl:px-24 body-font">
    <div
      class="
        xl:container
        mx-auto
        flex
        py-12
        md:py-24 md:flex-row
        flex-col
        items-center
      "
    >
      <div
        class="md:w-1/2 w-full flex items-center justify-center mb-10 md:mb-0"
      >
        <img
          class="
            object-cover object-center
            leader-image
            rounded-full
            h-64
            w-64
            sm:h-80 sm:w-80
            md:w-96 md:h-96
          "
          alt="hero"
          src="/assets/images/team/rama-photo.jpg"
        />
      </div>

      <div
        class="
          lg:flex-grow
          group
          md:w-1/2 md:px-6
          lg:px-8
          flex flex-col
          mb-6
          md:mb-0 md:items-start md:text-left
          items-center
          text-center
        "
      >
        <h1
          class="
            title-font
            relative
            items-baseline
            justify
            sm:text-4xl
            text-3xl
            mb-8
            font-semibold
            text-blue-800
          "
        >
          Dr. Rama Kanneganti
          <span
            class="
              bottom-0
              ml-4
              absolute
              text-3xl
              sm:text-4xl
              cursor-pointer
              text-blue-700
              md:justify-start
              justify-center
              items-baseline
            "
          >
            <i class="bx bxl-linkedin-square"></i>
          </span>
        </h1>
        <p
          class="
            mb-4
            text-base
            sm:leading-snug
            lg:leading-relaxed
            text-gray-600
            sm:text-lg
            lg:text-xl
          "
        >
          A Ph. D. from Rice University specializing in Logic and Programming
          languages, Rama is an entrepreneur at heart focused on solving cutting
          edge problems. He works in the area of AI, ML, NLP, big and fast data.
          In his previous role as SVP and CTO for the Enterprise Transformation
          Services business of HCL Technologies, he played a key role in the 10
          year growth from $20M/yr to $600M+/yr.
        </p>
        <p
          class="
            mb-4
            text-base
            sm:leading-snug
            lg:leading-relaxed
            text-gray-600
            sm:text-lg
            lg:text-xl
          "
        >
          Rama has filed multiple patents, and co-authored the book SOA
          Security. He previously co-founded two companies, one of which was
          acquired by HCL. He built the first interconnected billing product,
          and sold to 17+ telecom operators.
        </p>
      </div>
    </div>
  </section>
</div>

<div class="xl:container mx-auto">
  <section class="text-gray-600 px-6 lg:px-20 xl:px-24 body-font">
    <div
      class="
        xl:container
        mx-auto
        flex
        py-12
        md:py-24 md:flex-row
        flex-col
        items-center
      "
    >
      <div
        class="md:w-1/2 w-full flex items-center justify-center mb-10 md:mb-0"
      >
        <img
          class="
            object-cover object-center
            leader-image
            rounded-full
            h-64
            w-64
            sm:h-80 sm:w-80
            md:w-96 md:h-96
          "
          alt="hero"
          src="/assets/images/team/chap.jpg"
        />
      </div>

      <div
        class="
          lg:flex-grow
          group
          md:w-1/2 md:px-6
          lg:px-8
          flex flex-col
          md:items-start md:text-left
          items-center
          text-center
        "
      >
        <h1
          class="
            title-font
            relative
            items-baseline
            justify
            sm:text-4xl
            text-3xl
            mb-8
            font-semibold
            text-blue-800
          "
        >
          Prasad Chodavarapu
          <span
            class="
              bottom-0
              ml-4
              absolute
              text-3xl
              sm:text-4xl
              cursor-pointer
              text-blue-700
              md:justify-start
              justify-center
              items-baseline
            "
          >
            <i class="bx bxl-linkedin-square"></i>
          </span>
        </h1>

        <p
          class="
            mb-4
            text-base
            sm:leading-snug
            lg:leading-relaxed
            text-gray-600
            sm:text-lg
            lg:text-xl
          "
        >
          A Masters in Robotics from Univ. of Illinois, Prasad (aka Chap) is on
          a mission to build a world-class multi-disciplinary team leveraging
          Genomics, AI and Cloud computing to accelerate BioPharma R&D globally.
          In his previous role as SVP and global delivery head for the
          Enterprise Transformation Services business at HCL Technologies, he
          managed a delivery team of 10,000+ and led the massive growth of the
          portfolio from $20M to $600M per year.
        </p>

        <p
          class="
            mb-4
            text-base
            sm:leading-snug
            lg:leading-relaxed
            text-gray-600
            sm:text-lg
            lg:text-xl
          "
        >
          He has a proven track record of scaling teams, processes, and
          organizations in the areas of digital transformation across industries
          from pharma to banks to retail. Prasad has 3 patents in the areas of
          data, process, and resource management across different use cases &
          industries, has co-authored the book SOA Security, and is writing a
          book on AI/ML.
        </p>
      </div>
    </div>
  </section>
</div>

{% include "partials/_joinUs.njk" %}
<div class="bg-gray-100">{% include "contact.njk" %}</div>
