<div class=" text-gray-600 py-4 ">
  <div class="xl:container  px-8 sm:px-16  flex mx-auto">
   <div class="pt-10 lg:pt-12 px-3 border-t-2 lg:flex">
       <div class="lg:w-1/3 px-4">
           <h3 class="sm:font-medium font-bold lg:text-left text-center mb-8 lg:mb-0 text-2xl sm:text-3xl md:text-4xl text-blue-800">What do we do?</h1>
       </div>
       <div class="lg:w-2/3">
           <ul
        class="careers-list  list-disc  text-left lg:text-lg text-gray-600 lg:leading-relaxed ">
        <li class="mb-2">
          Accelerate the drug discovery and development process by applying the power of Data, Cloud, Analytics and AI/ML for in silico based solutions.
        </li>
        <li class="mb-2">
          Partner with global biopharma companies to complement the traditional lab based approaches with in silico approaches and solutions for research and development.
        </li>
        <li class="mb-2">Develop and deploy AI, data and cloud powered solutions that efficiently tackle the complexity, scale and richness of modern biopharma R&D domains.</li>
        <li class="mb-2">
          Adopt multi-disciplinary approaches blending and translating the latest knowledge in Biology, Chemistry, BioPharma and Computing areas.
        </li>
        <li class="mb-2">
          Several of our employees from earlier start-ups are now industry
          stalwarts: a CVP at Microsoft, early employees of companies like
          Google, and Amazon.
        </li>
      </ul>
       </div>
   </div>
   </div>
   </div>