<div class="background-light text-gray-600 py-12">
  <div class="container  px-16 mx-auto">
    <h4 class="text-4xl  font-medium leading-snug text-blue-800 mb-8">
      Why do we care?
    </h4>
    <div class="grid-cols-2 grid gap-12">
      <!-- <div class="flex border items-center justify-center">
                <img src="https://picsum.photos/800/600/?blur=5" class="rounded object-fit" alt="">
            </div> -->

      <p class="text-lg mb-4 leading-relaxed">
        Discovery and development of drugs today is dramatically different from a decade ago. From small molecules and early biologicals, medicines have evolved to mAbs (monoclonal antibodies), ADCs (antibody drug conjugates), targeted cell, gene and advanced therapies that use viral and non-viral nano technologies as delivery vectors. The mechanisms of action are increasingly diverse with explosive innovation driving them. Research has also progressed from single drugs to platform solutions.
      </p>
      <p class="text-lg mb-4 leading-relaxed">
        Most importantly, today’s pipelines for bringing medicines to market from discovery to delivery require a strong cross-disciplinary approach bridging Chemistry, Biology and Advanced Computing/Informatics. We have assembled team members and leaders from the different disciplines to play a key role in this transformation. We bring platform approaches to molecular medicine powered by machine learning, AI, Omics and big data. Discovery and delivery of new therapeutics in these novel ways is at the core of what we do at Aganitha.
      </p>
    </div>
  </div>
</div>