<!-- <div class="background-light text-gray-600 py-12 lg:py-16">
  <div class="xl:container px-8 md:px-16 mx-auto">
    <h4
      class="text-3xl md:text-4xl lg:text-5xl  text-center font-bold md:font-medium leading-snug text-blue-800 mb-8 lg:mb-12">
      Why do we care?
    </h4>
    <div class="md:grid-cols-2 mb-4 grid gap-12">
      <div class="flex items-center justify-center">
        <img src="/assets/images/about/care.png" class="rounded object-fit w-3/4 sm:w-2/5 md:w-4/5 lg:w-2/5" alt="">
      </div>

      <p class="md:text-lg  h-full flex items-center mb-4 leading-relaxed">
        Discovery and development of drugs today is dramatically different from a decade ago. From small molecules and
        early biologicals, medicines have evolved to mAbs (monoclonal antibodies), ADCs (antibody drug conjugates),
        targeted cell, gene and advanced therapies that use viral and non-viral nano technologies as delivery vectors.
        The mechanisms of action are increasingly diverse with explosive innovation driving them. Research has also
        progressed from single drugs to platform solutions.
      </p>

    </div>
    <p class="md:text-lg mb-4 leading-relaxed">
      Most importantly, today’s pipelines for bringing medicines to market from discovery to delivery require a strong
      cross-disciplinary approach bridging Chemistry, Biology and Advanced Computing/Informatics. We have assembled team
      members and leaders from the different disciplines to play a key role in this transformation. We bring platform
      approaches to molecular medicine powered by machine learning, AI, Omics and big data. Discovery and delivery of
      new therapeutics in these novel ways is at the core of what we do at Aganitha.
    </p>
  </div>
</div> -->


<section class="why-we-care bg-gray-50 pb-8 flex items-center justify-center">
  <div class="max-w-screen-xl  py-12 rounded-xl  ag-container-padding">
    <div>
      <h1 class="ag-h3 mx-auto mb-8 text-center text-ag-primary-blue font-medium">
        Why do we care?
      </h1>

      <p class="ag-h4 text-gray-700 mx-auto mb-4">
        Discovery and development of drugs today is dramatically different from a decade ago. From small molecules and
        early biologicals, medicines have evolved to mAbs (monoclonal antibodies), ADCs (antibody drug conjugates),
        targeted cell, gene and advanced therapies that use viral and non-viral nano technologies as delivery vectors.
        The mechanisms of action are increasingly diverse with explosive innovation driving them. Research has also
        progressed from single drugs to platform solutions.
      </p>

      <p class="ag-h4 text-gray-700  mx-auto">
        Discovery and development of drugs today is dramatically different from a decade ago. From small molecules and
        early biologicals, medicines have evolved to mAbs (monoclonal antibodies), ADCs (antibody drug conjugates),
        targeted cell, gene and advanced therapies that use viral and non-viral nano technologies as delivery vectors.
        The mechanisms of action are increasingly diverse with explosive innovation driving them. Research has also
        progressed from single drugs to platform solutions.
      </p>

    </div>

  </div>
</section>