{% extends "default.njk" %}
{% block title%}Privacy Policy | Aganitha AI {% endblock %}
{% set description = "Accelerate drug discovery and development with in silico based bioinformatics solutions leveraging Cloud, Data, DevOps, Analytics and AI/ML for biopharma R&D." %}
{% block
content %}

    {% include "partials/legal/_banner.njk" %}
    {% include "partials/legal/_intro.njk" %}

{% endblock %}