{% extends "default.njk" %}

{% block title%} Aganitha {% endblock %}

{% block content %}

   {% include "partials/contact/_banner.njk" %}
   {% include "partials/contact/_intro.njk" %}
   <div class="bg-gray-50">
   {% include "partials/contact/_location1.njk" %}
   </div>
   <div class="bg-blue-50">
   {% include "partials/contact/_location2.njk" %}
   </div>
   <div class="bg-gray-50">
   {% include "partials/contact/_location3.njk" %}
   </div>

   {# {% include "partials/about/_whatwedo.njk" %}
   {% include "partials/about/_examples.njk" %}
   {% include "partials/about/_why.njk" %}
   {% include "partials/_joinUs.njk" %}
   <div class="bg-gray-100">{% include "contact.njk" %}</div> #}

{% endblock %}