{% extends "default.njk" %}
{% block title%} Aganitha {% endblock %}
{% block
content %}
  {% include "partials/hubs-1/_banner.njk" %}

  <div class="border-green-200 relative mx-auto content-wrapper">
    <div class="main-content" id="content">

      {% include "partials/hubs-1/_intro.njk" %}
      <div class="bg-gray-50">
        {% include "partials/hubs-1/_solution.njk" %}
      </div>

      <div class="">
        {% include "partials/hubs-1/_highlights.njk" %}
      </div>
      {% include "partials/hubs-1/_tabs.njk"%}

      {# <div class="hubs-benefits"> #}
      <div class="bg-ag-secondary-red-800">
        {% include "partials/hubs-1/_benefits.njk" %}
      </div>

    </div>
  </div>
</div>
{% include "partials/hubs-1/_relatedSolutions.njk" %}
{% include "partials/_demo.njk" %}
{# <div class="bg-gray-100">{% include "contact.njk" %}</div> #}

{% endblock %}