@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap");

:root {
  --light-bg: #f7f8fa;
  --test-bg: #081e44;
  font-family: "IBM Plex Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Gill Sans";
  font-style: normal;
  /* font-weight: 400; */
  src: url("/assets/fonts/ag-gill-light.otf") format("otf");
  /* font-display: swap; */
}

.person-image {
  filter: grayscale(100%);
}

.logo-text {
  font-family: "Gill Sans";
}

.test-content {
  display: grid;
  grid-template: 1fr;
  grid-template-rows: 5fr 1fr;
}

.homepage-banner {
  min-height: 600px;
  /* background-color: #000c18; */
  /* background-image: url("/assets/images/banners/wave-blue.svg"); */
  background-image: url("/assets/images/banners/banner-option2.svg");

  /* background-attachment: fixed; */
  background-size: cover;
}

.hubs-banner {
  background-image: url("/assets/images/banners/hubs-banner-final.jpeg");
  background-size: cover;
  filter: opacity(100%);
}

.gwas-banner {
  background: url("/assets/images/banners/gwas-banner-final.jpg");
}

.about-banner {
  background-color: #000c18;
  background-image: url("/assets/images/banners/simple-bg.svg");
}

.careers-banner {
  background-image: url("/assets/images/banners/simple-bg-large.svg");
}

@media screen and (max-width: 400px) {
  .careers-banner {
    background-image: url("/assets/images/banners/simple-blue-mobile.svg");
  }
}

.overview-banner {
  background-image: url("/assets/images/banners/simple-bg-large.svg");
}

@media screen and (min-width: 640px) {
  .about-banner {
    background-attachment: fixed;
    background-size: cover;
  }
}

.leader-image {
  filter: grayscale(90%);
  transition: 0.5s ease all;
}

.leader-section:hover .leader-image {
  filter: grayscale(0%);
}

.background-light {
  background-color: var(--light-bg);
}

.omics-banner {
  position: relative;
  background-color: #003795;
  background-image: url("/assets/images/banners/omics-banner-final.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.banner-height {
  min-height: 400px;
}

.leader-image {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
