<div class="hubs-banner border-yellow-500 bg-black ">
  <div
    class="
      section-inner-wrapper
      font-lexend
    
      container
      px-24
      flex
      pt-16
      mx-auto
      border-black
    "
  >
    <!-- left side of hero section-->
    <div class="py-24 w-1/2 ">
      {# <h1 class="text-xl font-light text-left text-gray-300 mb-8">
        TOPICAL HUBS
      </h1> #}
      <h4 class="text-6xl text-left font-medium text-gray-200  mb-8">
        Topical Hubs <sup> &reg; </sup>
      </h4>
      {# <h4 class="text-6xl text-left font-medium text-gray-200  mb-8">
        
      </h4> #}
       <h4 class="text-2xl text-left text-gray-200 font-light mb-8">
        Build a digital encyclopedia on the go: fully automated, competitive intelligence hubs as a managed service. 
      </h4>
     
    </div>

    <!--right side of hero section -->
  </div>
  <!-- </div> -->
</div>
