{% import "macros/cards.njk" as cards %}
{# <div
  class="
    hubs-benefits-wrapper
    container
    border-blue-400
    mx-auto
    px-16
    font-lexend
    py-16
  "
>
  <div class="grid grid-cols-2">
    <div class="hubs-benefits-left-side-content">
      <h3
        class="text-5xl mx-auto text-gray-600 font-medium text-center w-4/5"
        id="content"
      >
        Outcomes
      </h3>

      <div
        class="
          overflow-hidden
          mx-auto
          my-14
          flex
          items-center
          justify-center
          w-4/5
        "
      >
        <img
          src="/assets/images/solutions/hubs/benefits.png"
          class="w-1/2"
          alt=""
        />
      </div>
    </div>
    <div class="hubgs-benefits-right-side-content">
      <div class="text-lg text-gray-600 mx-auto leading-8">
        <ul class="">
          {% for item in solutions.hubs.benefits %}
          <li class="flex items-center my-2">
            <span class="">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 mr-4 text-blue-600"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M5 13l4 4L19 7"
                />
              </svg>
            </span>
            <span class="">{{ item }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div> #}

<div class="max-w-screen-xl  mx-auto py-10 sm:py-12 lg:py-16 ag-container-padding">
  <h1 class="ag-h3 text-gray-50 font-semibold text-left sm:text-center lg:text-left mb-4">Outcomes</h1>
  <h1 class="ag-h4 text-gray-200 mb-10 sm:mb-20 w-full text-left sm:text-center sm:px-16 md:px-24 lg:px-0 lg:text-left lg:w-4/5">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe distinctio ad
    aperiam? Ad nisi eaque blanditiis dolor voluptatem vel natus!
  </h1>

  <div class="grid gap-10 md:gap-16 xl:gap-10 sm:grid-cols-2 xl:grid-cols-3">
    {% for item in solutions.hubs.benefitsAlt %}
      {{ cards.benefitCard(item.icon, item.title, item.description) }}
    {% endfor %}
  </div>
</div>