{% import "macros/cards.njk" as cards %}

<div
  class="
    hubs-highlights-wrapper
    
    max-w-screen-xl
     border-yellow-400
    mx-auto
    py-10
    ag-container-padding
  "
>

  <h4 class="   text-center py-4 sm:py-8 text-ag-primary-blue-500 ag-h3 mb-16">
       Highlights
      </h4>
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 max-w-screen-xl ">
    {% for item in solutions.hubs.solutionHighlights %}

      {{cards.highlightCard(item.icon, item.title, item.description)}}

    {% endfor %}

  </div>

  {# <div class="grid grid-cols-3 max-w-screen-xl gap-8">
  {% for item in solutions.hubs.solutionHighlights.slice(3,6) %}


      {{cards.highlightCard(item.icon, item.title, item.description)}}

    {% endfor %} 
  </div> #}
</div>