<div class="intro-wrapper py-8 sm:py-10  sm:pt-12 md:py-16 ag-container-padding border-red-400  max-w-screen-xl mx-auto ">
  <div class="intro-inner-wrapper grid gap-8 lg:grid-cols-2">
    <div class="left-side md:m-4 flex items-center justify-center">
      <img
        src="/assets/images/banners/hubs-intro.jpeg"
        class="rounded-lg  sm:w-3/4 lg:w-full"
        alt=""
/>
    </div>
    <div class="right-side lg:px-4 flex items-center justify-center ">

      <div class="intro-content-wrapper">
        {% for item in solutions.hubs.intro %}
          <h4 class="ag-h4 leading-normal text-justify sm:text-left  mb-4">
            {{item}}
          </h4>
        {%endfor %}
      </div>

    </div>
  </div>
</div>