<div class="intro-wrapper pt-16 border-red-400 pb-16 container mx-auto px-16">
  <div class="intro-inner-wrapper grid grid-cols-2">
    <div class="left-side flex items-center justify-center">
      <img
        src="https://picsum.photos/600/400?grayscale&blur=8"
        class="rounded-lg"
        alt=""
      />
    </div>
    <div class="right-side px-16 py-4">
      <h3 class="text-4xl text-gray-800 font-semibold my-8 w-4/5" id="content">
        Introduction
      </h3>

      <h4 class="text-lg text-gray-600 leading-8 mb-4">
        On one extreme of intelligence gathering are the search engines that enable a real-time search for gathering information on market & research landscape to facilitate decision making in diverse functions of a Biopharma such as Discovery, R&D, Clinical trial design, etc. However, the activity required to collate, structure, and synthesize the information in a format which is consumable for deriving insights and driving decision-making is time-consuming.
      </h4>

      {# <h4 class="text-lg text-gray-600 leading-8 mb-4">
        On the other extreme are the curated market research reports which are rich in focus and context to enable an easy assimilation of information. However, their scope is limited and does not contain real-time information.

      </h4> #}
    </div>
  </div>
</div>
