<div class="solution-wrapper py-8 sm:py-10 sm:pt-12 md:py-16  mx-auto max-w-screen-xl  ag-container-padding">
  <div class="solution-inner-wrapper grid gap-8 lg:grid-cols-2">
    <div class="left-side lg:px-4">
      <h3 class="ag-h3 text-ag-primary-blue-500  mb-4 sm:mb-8 " id="content">
        Our Solution
      </h3>

      {% for item in solutions.hubs.solution.intro %}
        <h4 class="ag-h4 leading-normal mb-4">
          {{ item }}
        </h4>
      {% endfor %}
      <div class="ag-h4">
        <ul>
          {% for item in solutions.hubs.solution.solutionPoints %}

            <li class="flex  my-2">
              <span class="">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 mr-4  text-ag-secondary-red-600"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                  <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="3"
                  d="M5 13l4 4L19 7"
/>
                </svg>
              </span>
              <span class="leading-normal">{{ item }}</span>
            </li>

          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="right-side flex items-center justify-center">
      <img
        class="sm:w-3/4 lg:w-full"
        src="/assets/images/solutions/hubs/solution.png"
/>
    </div>
  </div>
</div>