<div
  x-data="{active: 0}"
  class="flex container mb-16  border-yellow-700 py-4 px-16 mx-auto"
>
  <div
    class="container w-1/3 flex flex-col border-black overflow-hidden -mb-px"
  >
    <div
      class="px-8 py-6 w-full rounded-lg overflow-hidden text-gray-700"
      x-on:click="active = 0"
      x-bind:class="{'bg-blue-50 text-blue-800': active === 0}"
    >
      <h1
        class="text-2xl font-medium mb-2"
        x-bind:class="{'block' : active === 0 }"
      >
        Covid Hub
      </h1>

      <p class="text-base leading-8">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At, voluptate.
      </p>
    </div>

    <div
      class="px-8 rounded-lg overflow-hidden py-6 w-full text-gray-700"
      x-on:click.prevent="active = 1"
      x-bind:class="{'bg-blue-50 text-blue-800': active === 1}"
    >
      <h1
        class="text-2xl mb-2 font-medium"
        x-bind:class="{'block' : active === 1 }"
      >
        Oncology Hub
      </h1>

      <p class="text-base leading-8">
       A highly automated hub for Genitourinary cancer research and development.

      </p>
    </div>
    <div
      class="rounded-lg overflow-hidden px-8 py-6 w-full text-gray-700"
      x-on:click.prevent="active = 2"
      x-bind:class="{'bg-blue-50 text-blue-800': active === 2}"
    >
      <h1
        class="text-2xl mb-2 font-medium"
        x-bind:class="{'block' : active === 2 }"
      >
        Rare Disease Hub
      </h1>

      <p class="text-base leading-8">
        A highly automated hub for rare disease research and development, therapeutics and
vaccines.

      </p>
    </div>
  </div>

  <div class="w-2/3 ml-12 bg-opacity-10  border-black -mt-px">
    <div
      class=""
      x-show="active === 0"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="opacity-0 transform scale-90"
      x-transition:enter-end="opacity-100 transform scale-100"
    >
      <div class="image-wrapper h-full shadow-xl border-blue-200 rounded overflow-hidden flex items-center">
        <img
          src="/assets/images/solutions/hubs/covidhub.png"
          class="object-fit object-cover"
          alt=""
        />
      </div>
    </div>
    <div
      class=""
      x-show="active === 1"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="opacity-0 transform scale-90"
      x-transition:enter-end="opacity-100 transform scale-100"
    >
      <div class="image-wrapper shadow-xl  rounded overflow-hidden border-blue-200 h-full flex items-center">
        <img
          src="/assets/images/solutions/hubs/oncohub.png"
          class="object-fit object-cover"
          alt=""
        />
      </div>
    </div>

    <div
      class=""
      x-show="active === 2"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="opacity-0 transform scale-90"
      x-transition:enter-end="opacity-100 transform scale-100"
    >
      <div class="image-wrapper  rounded shadow-xl border-blue-200 h-full flex items-center">
        <img
          src="/assets/images/solutions/hubs/rdhub.png"
          class="object-fit object-cover"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
