<div class="omics-highlights-wrapper container py-24 px-16">
  {#
  <h3 class="text-4xl text-black my-8 w-4/5" id="content">
    Solution Highlights
  </h3>
  #}

  <div class="grid gap-8 grid-cols-3 px-16">
    <!-- {# {% for item in solutions.omics.solutionHighlights %}
    <div
      class="
        my-2
        bg-white
        border border-gray-50
        rounded-lg
        shadow
        transform
        hover:-translate-y-1 hover:shadow-lg
        transition
        duration-300
      "
    >
      <div class="p-6">
        <h2
          class="
            mb-8
            text-sm
            font-semibold
            tracking-widest
            text-black
            uppercase
            title-font
          "
        >
          {{ item.title }}
        </h2>
        <p
          class="mb-3 text-base leading-relaxed text-gray-500"
          class="{{item.background"
          }}
        >
          {{ item.description }}
        </p>
        <p></p>
      </div>
    </div>
    {% endfor %} #} -->

    <div
      class="
        my-2
        bg-white
        border border-gray-50
        rounded-lg
        shadow
        transform
        hover:-translate-y-1 hover:shadow-lg
        transition
        duration-300
      "
    >
      <div class="">
        <div
          class="card-heading h-16 flex items-center justify-center bg-blue-50"
        >
          <h2
            class="
              text-sm
              font-semibold
              tracking-widest
              text-blue-700
              uppercase
              title-font
            "
          >
            SCALABLE PROCESSING POWER
          </h2>
        </div>

        <p
          class="px-8 py-4 text-base text-center leading-relaxed text-gray-500"
        >
          Proven to scale well for processing vast data sets such as UK BioBank
          500k WES dataset
        </p>
        <p></p>
      </div>
    </div>

    <div
      class="
        my-2
        bg-white
        border border-gray-50
        rounded-lg
        shadow
        transform
        hover:-translate-y-1 hover:shadow-lg
        transition
        duration-300
      "
    >
      <div class="">
        <div
          class="
            card-heading
            h-16
            flex
            items-center
            justify-center
            bg-yellow-50
          "
        >
          <h2
            class="
              text-sm
              font-semibold
              tracking-widest
              text-yellow-700
              uppercase
              title-font
            "
          >
            CROSS FUNCTION COMPATIBLE
          </h2>
        </div>

        <p
          class="px-8 py-4 text-base text-center leading-relaxed text-gray-500"
        >
          Vertically integrated and optimized solution, providing best-in-class
          performance
        </p>
        <p></p>
      </div>
    </div>

    <div
      class="
        my-2
        bg-white
        border border-gray-50
        rounded-lg
        shadow
        transform
        hover:-translate-y-1 hover:shadow-lg
        transition
        duration-300
      "
    >
      <div class="">
        <div
          class="card-heading h-16 flex items-center justify-center bg-green-50"
        >
          <h2
            class="
              text-sm
              font-semibold
              tracking-widest
              text-green-700
              uppercase
              title-font
            "
          >
            Modifiable-off-the-shelf
          </h2>
        </div>

        <p
          class="px-8 py-4 text-base text-center leading-relaxed text-gray-500"
        >
          Pre-packaged service offering (PSO) for platform rollout along-side a
          full catalog of service offerings
        </p>
        <p></p>
      </div>
    </div>

    <div
      class="
        my-2
        bg-white
        border border-gray-50
        rounded-lg
        shadow
        transform
        hover:-translate-y-1 hover:shadow-lg
        transition
        duration-300
      "
    >
      <div class="">
        <div
          class="card-heading h-16 flex items-center justify-center bg-red-50"
        >
          <h2
            class="
              text-sm
              font-semibold
              tracking-widest
              text-red-700
              uppercase
              title-font
            "
          >
            Open-source tech & API integration-
          </h2>
        </div>

        <p
          class="px-8 py-4 text-base text-center leading-relaxed text-gray-500"
        >
          Based on best-in-class open-source technologies (like Hail and
          Cromwell) and has APIs for integration with Benchling (ELN)
        </p>
        <p></p>
      </div>
    </div>

    <div
      class="
        my-2
        bg-white
        border border-gray-50
        rounded-lg
        shadow
        transform
        hover:-translate-y-1 hover:shadow-lg
        transition
        duration-300
      "
    >
      <div class="">
        <div
          class="
            card-heading
            h-16
            flex
            items-center
            justify-center
            bg-purple-50
          "
        >
          <h2
            class="
              text-sm
              font-semibold
              tracking-widest
              text-purple-700
              uppercase
              title-font
            "
          >
            Cloud & Scheduler compatible
          </h2>
        </div>

        <p
          class="px-8 py-4 text-base text-center leading-relaxed text-gray-500"
        >
          Compatible with cloud providers (AWS/GCP/Azure/HPC) supporting
          Kubernetes, and classic HPC schedulers
        </p>
        <p></p>
      </div>
    </div>

    <div
      class="
        my-2
        bg-white
        border border-gray-50
        rounded-lg
        shadow
        transform
        hover:-translate-y-1 hover:shadow-lg
        transition
        duration-300
      "
    >
      <div class="">
        <div
          class="card-heading h-16 flex items-center justify-center bg-pink-50"
        >
          <h2
            class="
              text-sm
              font-semibold
              tracking-widest
              text-pink-700
              uppercase
              title-font
            "
          >
            Integrated with sequencing solutions
          </h2>
        </div>

        <p
          class="px-8 py-4 text-base text-center leading-relaxed text-gray-500"
        >
          Integrated with Illumina BaseSpace, PacBio SMRT Link, 10x Genomics
          Cell Ranger, Trans-Proteomic Pipeline from Institute for Systems
          Biology (Seattle)
        </p>
        <p></p>
      </div>
    </div>
  </div>
</div>
