<div class="intro-wrapper pt-16 border-red-400 pb-16 container mx-auto px-16">
  <div class="intro-inner-wrapper grid grid-cols-2 gap-12">
    <div class="left-side flex  items-center justify-center">
      <img
        src="/assets/images/solutions/omics/omics.jpeg"
        class="rounded-lg"
        alt=""
      />
    </div>
    <div class="right-side ml-4 py-4">
      <h4 class="text-lg text-gray-600 leading-relaxed mb-2">
        R&D Teams in biopharma have a critical dependency on timely availability of high-quality data. Satisfying this need is posing a challenge as the volume of data to process is increasing exponentially. 
      </h4>

      <ul
        class="text-lg mb-4 text-gray-600 leading-relaxed list-inside list-disc"
      >
        <li class="mb-1">
         Several public and private data providers are making datasets available in open and restricted ways 
        </li>
        <li class="mb-1">
          Sequencing innovations are driving telomere-to-telomere sequencing 
        </li>
        <li class="mb-1">
          Transition from single reference to pan genome reference  

        </li>
        <li class="mb-1">
         Innovations in single cell and spatial transcriptomics

        </li>
      </ul>

      <h4 class="text-lg text-gray-600 leading-relaxed mb-4">
        While several platforms exist to address the needs of omics data analysis, proprietary platforms are expensive for every-day R&D use, and open-source platforms require extensive expertise to be deployed for industrial use. 
      </h4>
    </div>
  </div>
</div>
