<div class="intro-wrapper pt-4 pb-16 container mx-auto px-16">
  <div class="intro-inner-wrapper grid grid-cols-2">
    <div class="left-side flex items-center justify-center">
      <img
        src="https://picsum.photos/600/400?grayscale&blur=8"
        class="rounded-lg"
        alt=""
      />
    </div>
    <div class="right-side px-16 py-4">
      <h3 class="text-4xl text-gray-800 font-semibold my-8 w-4/5" id="content">
        Introduction
      </h3>

      <h4 class="text-lg text-gray-600 leading-8 mb-4">
        R&D Teams in BioPharma have a critical dependency on timely availability
        of high-quality data. Satisfying this need has become quite challenging
        even for large BioPharma as the volume of data to process is increasing
        exponentially with availability of data in open and restricted ways,
        Sequencing innovation, Transition from single to pan genome reference
        and Innovations in single cell and spatial transcriptomics.
      </h4>

      <h4 class="text-lg text-gray-600 leading-8 mb-4">
        While several platforms exist to address the needs of Omics data
        analysis, proprietary platforms are expensive for every-day R&D use, and
        open-source platforms require a lot of expertise to be deployed for
        industrial use.
      </h4>
    </div>
  </div>
</div>
