{% extends "default.njk" %}

{% block title%} Aganitha {% endblock %}

{% block content %}

   {% include "partials/careers/_banner.njk" %}
   {# {% include "partials/careers/_intro.njk" %} #}
   {% include "partials/careers/_intro-1.njk" %}
   {% include "partials/careers/_description.njk" %}
   {% include "partials/careers/_values.njk" %}
   {% include "partials/careers/_testimonial.njk" %}
   {% include "partials/careers/_positions.njk" %}

   <div class="bg-gray-100">{% include "contact.njk" %}</div>


{% endblock %}