{% extends "default.njk" %}
{% block title%} Aganitha {% endblock %}
{% block
content %}

    {% include "partials/overview/_banner.njk" %}
    {% include "partials/overview/_intro.njk" %}

    {# {% include "partials/overview/_transformation.njk" %} #}
    {% include "partials/overview/_help.njk" %}

    {% include "partials/overview/_reference.njk" %}

    {% include "partials/overview/_homeSolutions.njk" %}

{% endblock %}