<div class="hubs-banner border-yellow-500 bg-black ">
  <div class="
      section-inner-wrapper
      px-8
      sm:px-16
      lg:px-24
    
      pt-16
      mx-auto
      border-black
    ">
    <!-- left side of hero section-->
    <div class="py-24  ">

      <h4 class="text-3xl sm:text-4xl  md:text-6xl text-center font-medium text-gray-200  mb-8">
        GWAS Platform
      </h4>
      {# <h4 class="text-6xl text-left font-medium text-gray-200  mb-8">

      </h4> #}
      <h4 class="md:text-2xl text-center w-full mx-auto text-gray-200 font-light mb-8">
        Interrogate biobank-scale WES datasets with a proven genome wide association (GWAS) platform.
      </h4>

    </div>

    <!--right side of hero section -->
  </div>
  <!-- </div> -->
</div>