<div class=" omics-banner bg-black">
  <div
    class="
      section-inner-wrapper
      font-lexend
      container
      px-16
      flex
      pt-16
      mx-auto
      border-black
    "
  >
    <!-- left side of hero section-->
    <div class="py-24 w-full ">
      <h1 class="text-6xl leading-tight text-center text-gray-50 mb-8">
        GWAS Pipeline
      </h1>
      <h4 class="text-2xl leading-8 text-center text-gray-200 font-light mb-8">
        Scalable genomic data analysis platform to interrogate biobank-scale genomic datasets.
Technical pipeline for genome wide association studies .
      </h4>
    </div>

    <!--right side of hero section -->
  </div>
  <!-- </div> -->
</div>
