<div class="intro-wrapper pt-4 pb-16 container mx-auto px-16">
  <div class="intro-inner-wrapper grid grid-cols-2">
    <div class="left-side flex items-center justify-center">
      <img
        src="https://picsum.photos/600/400?grayscale&blur=8"
        class="rounded-lg"
        alt=""
      />
    </div>
    <div class="right-side px-16 py-4">
      <h3 class="text-4xl text-gray-800 font-semibold my-8 w-4/5" id="content">
        Introduction
      </h3>

      <h4 class="text-lg text-gray-600 leading-8 mb-4">
        Genome wide association study (GWAS) is used to identify commonly occurring genetic variants that contribute to disease risk and searches the genome for small variations, called single nucleotide polymorphisms or SNPs, to predict the presence of a disease. On successful identification, these can be used to understand and develop better prevention and treatment strategies for the disease. The researchers and scientists are faced with multiple challenges.
      </h4>

      <ul class="text-lg text-gray-600 leading-8 mb-4">
        
      </ul>
    </div>
  </div>
</div>
