<div class="intro-wrapper pt-16 border-red-400 pb-16 container mx-auto px-16">
  <div class="intro-inner-wrapper grid grid-cols-2 gap-12">
    <div class="left-side flex  items-center justify-center">
      <img
        src="/assets/images/gwas.jpeg"
        class="rounded-lg "
        alt=""
      />
    </div>
    <div class="right-side py-4">
      <h4 class="text-lg text-gray-600 leading-relaxed mb-2 ml-2">
        Genome wide association study (GWAS) is used to identify commonly occurring genetic variants that contribute to disease risk by searching the genome for small variations, called single nucleotide polymorphisms (SNPs). On successful identification, SNPs can be used to develop effective prevention and treatment strategies for the disease. Researchers and scientists are faced with challenges such as:
      </h4>

      <ul
        class="text-lg mb-4 text-gray-600 leading-relaxed list-inside list-disc"
      >
        <li class="mb-1">
         Large amount of data hosted on several portals making it difficult to organize and accessible to all
        </li>
        <li class="mb-1">
          Lack of UI tools to visualize custom data and make preliminary data analysis due to memory issues

        </li>
        <li class="mb-1">
         Limited understanding and exposure to operate cloud computing infrastructure leading to  cumbersome debugging routines
        </li>
        <li class="mb-1">
          Lack of understanding of open-source tools for extracting sequenced reads to find overexpressed genes; difficulty in chaining inputs and outputs in a cohesive manner
        </li>
        <li class="mb-1">
          Eliminating confounding variables for decreasing uncertainty
        </li>
        
      </ul>
    </div>
  </div>
</div>
