<div
  class="intro-wrapper py-8 sm:py-10  sm:pt-12 md:py-16 ag-container-padding border-red-400  max-w-screen-xl mx-auto ">
  <div class="intro-inner-wrapper grid gap-8 lg:grid-cols-2">
    <div class="left-side md:m-4 flex items-center justify-center">

      {% image "./assets/images/solutions/gwas/gwas-intro.jpeg", "aganitha ai omics pipelining solution", "rounded-lg sm:w-3/4 lg:w-full" %}
    </div>
    <div class="right-side lg:px-4 flex items-center justify-center ">

      <div class="intro-content-wrapper">
        {% for item in solutions.gwas.intro %}
          <h4 class="ag-h4 leading-6 text-justify sm:text-left  mb-4">
            {{item.main}}
          </h4>

          {% for point in item.subPoints %}
            <ul class="ag-h4 leading-6 list-inside list-disc mb-2">
              <li>
                {{ point }}
              </li>
            </ul>

          {% endfor %}
        {% endfor %}
      </div>

    </div>
  </div>
</div>