<div class="py-16">
    <div class="max-w-screen-xl relative  solutions-drawer ag-container-padding mx-auto">

        <div class="mb-8">
            <h1 class="ag-h2 z-40 text-center   text-ag-primary-blue font-medium mb-4  w-full">
        Related Solutions
      </h1>
            <p class="text-gray-600 z-40 ag-h4 text-center leading-relaxed">
        Discover more solutions across the biopharma value chain.
      </p>
            <!-- <div class="dot-container z-0 absolute top-0 left-0">
        <img src="/assets/images/dot-grid.png" alt="">
      </div> -->
        </div>

        <div class="border-red-500  lg:w-5/6 mx-auto  gap-4  grid md:grid-cols-2 ">

            {% for item in solutionsList.gwas %}
                <div
        class=" rounded-lg   mx-auto solution-link-card group transition duration-300 lg:shadow-none shadow-2xl lg:hover:shadow-agSm z-50 px-6 py-6 md:max-w-md ">
                    <a href={{item.link}}>
                        <div class="solution-image-wrapper">
                            <img src={{ item.image }} class="object-cover h-60 md:h-72 lg:h-48 w-full  border border-gray-200 rounded " alt="">
                        </div>
                        <div class="solution-text-wrapper">
                            <h1 class=" text-xl lg:text-2xl font-medium my-6 text-ag-secondary-red-600">
                                {{ item.title }}
                            </h1>
                            <h4 class="text-base lg:text-lg text-gray-600 ">
                                {{ item.description }}
                            </h4>
                            <a href={{ item.link }} class="flex my-4  text-base text-ag-primary-blue-500 font-semibold">
              Read More <span class="flex items-center justify-center group-hover:translate-x-3 transform duration-300">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-4" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"/>
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </a>
                </div>

            {% endfor %}
        </div>

    </div>
</div>