<div class="solution-wrapper py-12 container px-16">
  <div class="solution-inner-wrapper grid grid-cols-2">
    <div class="left-side px-16 py-4">
      <h3 class="text-4xl text-gray-800 font-semibold my-8 w-4/5" id="content">
        Our Solution
      </h3>

      <h4 class="text-lg text-gray-600 leading-8 mb-4">
        Aganitha acts as accelerators for the Bioinformaticians. By the means of this solution, we provide a robust, scalable domain Specific Language (DSL) for scientists which helps to write genomic pipelines without deep diving into underlying concepts. Open-source tools are enhanced to provide the output in the format requested by the customers (html, jupyter, web viewers etc.) as opposed to the standard output (text files, binary files etc.) the tool provides. 
      </h4>

      <div class="text-lg text-gray-600 leading-8">
         <h4 class="text-lg text-gray-600 leading-8 mb-4">
        The solution is powered by a high-performance computing platform, open-source tools such as Piranha- to enable distributed computing system and scalability, Hail and Luigi (state-of-art platforms for GWAS). It is Integrated with databases such as VEP, gnomad and vcf files obtained after variant calling and has easier interface for bioinformaticians to conduct preliminary analysis (python in jupyter notebook).
      </h4>
      </div>
    </div>

    <div class="right-side flex items-center justify-center">
      <img
        class="opacity-30 rounded-xl"
        src="https://picsum.photos/600/400?grayscale&blur=8"
      />
    </div>
  </div>
</div>
