<div
  class="solution-wrapper border-yellow-600 font-lexend py-12 mx-auto mt-0 container px-16"
>
  <div class="solution-inner-wrapper">
    <div class="left-side px-16 py-4">
      <h3 class="text-4xl text-center text-gray-800 font-medium my-8 px-8 w-full" id="content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium
        placeat corporis dolorem eos iusto voluptatum praesentium debitis
        facilis consectetur ut facilis consectetur ut.
      </h3>

     
      </div>
    </div>
  </div>
</div>
