{% extends "./_includes/default.njk" %}

{% block title%} Aganitha {% endblock %}

{% block content %}

    {% include "partials/homepage/_banner.njk" %}
    {% include "partials/homepage/_curiosity.njk" %}
    {% include "partials/homepage/_context.njk" %}
    {% include "partials/_wideCTA.njk" %}
    {# {% include "partials/homepage/_context-items.njk" %} #}
    {% include "partials/homepage/_architecture.njk" %}
    {% include "partials/homepage/_architecture-2.njk" %}
    {# {% include "partials/homepage/_whyAganitha.njk" %} #}
    {% include "partials/homepage/_tabs.njk" %}
    {% include "partials/_demo.njk"%}
    {# {% include "partials/_blog.njk"%} #}
    {% include "contact.njk"%}

{% endblock %}