{% extends "./_includes/default.njk" %}

{% block title%}Aganitha | Biopharma AI solutions and services provider{% endblock %}
{% set description = "Accelerate drug discovery and development with in silico based bioinformatics solutions leveraging Cloud, Data, DevOps, Analytics and AI/ML for biopharma R&D." %}

{% block content %}

    {% include "partials/homepage/_banner.njk" %}
    {# {% include "partials/homepage/_curiosity.njk" %} #}
    {% include "partials/homepage/_context.njk" %}
    {% include "partials/_demo.njk" %}

    {% include "partials/homepage/_whyAganitha.njk" %}
    <div class="">
        {% include "partials/homepage/_homeSolutions.njk" %}
    </div>

    {# {% include "partials/_blog.njk"%} #}
    {# {% include "contact.njk"%} #}

{% endblock %}