<!--make this a macro -->

<div class="border-red-500 demo-cta ">
    <div class="section-inner-wrapper font-lexend container px-16  mx-auto  border-black">
        <!-- left side of hero section-->
        <div class="py-12">
            <h1 class="text-4xl text-center text-white mb-8 w-full">
            Like what you see?
            </h1>

            <!--button container-->
            <div class="w-full text-center" >
                <button class="btn-blue">
        REQUEST A DEMO
      </button>

            </div>
        </div>

        <!--right side of hero section -->
        <div></div>
    </div>
</div>