<!--make this a macro -->

<div class="border-red-500 bg-ag-primary-blue-30">
  <div
    class="section-inner-wrapper max-w-screen-xl ag-container-padding py-4 sm:flex mx-auto justify-between"
  >
    <!-- left side of hero section-->
    <div class=" py-4 sm:py-16 w-full sm:w-auto">
      <h1
        class="
          ag-h3
          text-center
          font-bold
          sm:text-left
          md:mb-2
          text-ag-primary-blue-800
          w-full
        "
      >
        Ready to get started? <br/>
      </h1>
      <h1 class="ag-h3 text-center
          font-bold
          sm:text-left text-ag-primary-blue-400">
        Book your demo today.
      </h1>

      <!--button container-->
    </div>

    <div class="py-2  sm:py-0 sm:w-auto  w-full text-center flex items-center justify-center">
      <button
        class="
          text-base
          bg-ag-tertiary-yellow-400
          md:text-lg
          transform
          text-ag-primary-blue-600
          transition-all
          duration-300
          hover:scale-110
          px-4
          py-3
          sm:px-6
          sm:py-4
          rounded-lg
        "
      >
        Get in touch
      </button>
    </div>
  </div>
</div>