<!--make this a macro -->

<div class="border-red-500 call-to-action join-us ">
    <div class="section-inner-wrapper font-lexend xl:container px-8 md:px-16  mx-auto  border-black">
        <!-- left side of hero section-->
        <div class="py-12">
            <h1 class="text-3xl md:text-4xl text-center text-white mb-8 w-full">
            Would you like to be a part of the team?
            </h1>
           

            <!--button container-->
            <div class="w-full text-center" >
                <button class="btn-blue transition duration-300">
        JOIN US
                </button>

            </div>
        </div>

        <!--right side of hero section -->
        <div></div>
    </div>
</div>