<div class="outer-wrapper bg-gray-50 font-lexend px-16 py-12">

    <section class="text-gray-700">

        <div class="container  items-center px-5 py-8 mx-auto lg:px-16">
            <h1 class="text-4xl text-ag-primary-blue font-medium mb-16 w-4/5">
                Related Solutions
            </h1>
            <div class="grid grid-cols-3 gap-10  mb-12 text-left">
                <div class="w-full pb-8 group hover:shadow-xl rounded-xl shadow-lg  bg-white mx-auto ">
                    <div class="rounded-xl   border-pink-400 overflow-hidden">
                        <a href="">
                            <div class=" border-red-500 h-64 overflow-hidden">
                                <img class="object-cover  group-hover:scale-110 transform transition w-full mb-8" src="/assets/images/gwas.jpeg" alt="blog">
                            </div>

                            <div class="px-4">
                                <span class="flex text-sm my-4 w-1/2 items-center justify-between text-gray-500">
                                    <p class=""> </p>
                                    
                                </span>
                                <h1 class="mx-aut mb-6 text-2xl font-semibold leading-none  text-gray-700 title-font group-hover:text-blue-800 transition" > GWAS Pipeline </h1>
                                <p class="mx-auto mb-8 text-base font-medium leading-relaxed text-gray-500 ">Scalable genomic data analysis platform to interrogate biobank-scale genomic datasets Technical pipeline for genome wide association studies (GWAS)</p>

                                {# <span class="text-sm">
                                    <p class="border-gray-600 border text-gray-500 inline-block px-2 py-1 rounded-xl mr-2">Omics</p>
                                    <p class="border-gray-600 border text-gray-500 inline-block px-2 py-1 rounded-xl mr-2">HAIL</p>
                                    <p class="border-gray-600 border text-gray-500 inline-block px-2 py-1 rounded-xl mr-2">GWAS</p>

                                </span> #}
                            </div>
                        </a>

                    </div>
                </div>

                <div class="w-full pb-8 group hover:shadow-xl rounded-xl shadow-lg  bg-white  mx-auto ">
                    <div class="rounded-xl   border-pink-400 overflow-hidden">
                        <a href="">
                            <div class=" border-red-500 h-64 overflow-hidden">
                                <img class="object-contain  group-hover:scale-110 transform transition w-full mb-8" src="/assets/images/solutions/omics/omics.jpeg" alt="blog">
                            </div>

                            <div class="px-4">
                                <span class="flex text-sm my-4 w-1/2 items-center justify-between text-gray-500">
                                    <p class=""> </p>
                                 
                                </span>
                                <h1 class="mx-aut mb-6 text-2xl font-semibold leading-none  text-gray-700 title-font group-hover:text-blue-800 transition" >Omics Pipeline </h1>
                                <p class="mx-auto mb-8 text-base font-medium leading-relaxed text-gray-500 ">Rapid, scalable, affordable, managed enterprise-class Omics pipelining on HPC/Cloud as a managed service. </p>

                                {# <span class="text-sm">
                                    <p class="border-gray-600 border text-gray-500 inline-block px-2 py-1 rounded-xl mr-2">Omics</p>
                                    <p class="border-gray-600 border text-gray-500 inline-block px-2 py-1 rounded-xl mr-2">HAIL</p>
                                    <p class="border-gray-600 border text-gray-500 inline-block px-2 py-1 rounded-xl mr-2">GWAS</p>

                                </span> #}
                            </div>
                        </a>

                    </div>
                </div>

                <div class="w-full pb-8 group hover:shadow-xl rounded-xl shadow-lg  bg-white  mx-auto ">
                    <div class="rounded-xl   border-pink-400 overflow-hidden">
                        <a href="">
                            <div class=" border-red-500 h-64 overflow-hidden">
                                <img class="object-cover  group-hover:scale-110 transform transition w-full mb-8" src="/assets/images/solutions/omics/data.jpeg" alt="blog">
                            </div>

                            <div class="px-4">
                                <span class="flex text-sm my-4  w-2/3 items-center justify-between text-gray-500">
                                    <p class=""> </p>
                                    
                                </span>
                                <h1 class="mx-aut mb-6 text-2xl font-semibold leading-none  text-gray-700 title-font group-hover:text-blue-800 transition" > Scientific Data Management</h1>
                                <p class="mx-auto mb-8 text-base font-medium leading-relaxed text-gray-500 ">An enterprise-class science data and file management  platform on premise/Cloud, with Pre-packaged service offering for rollout and managed services for continuous use.  </p>

                                {# <span class="text-sm">
                                    <p class="border-gray-600 border text-gray-500 inline-block px-2 py-1 rounded-xl mr-2">Omics</p>
                                    <p class="border-gray-600 border text-gray-500 inline-block px-2 py-1 rounded-xl mr-2">HAIL</p>
                                    <p class="border-gray-600 border text-gray-500 inline-block px-2 py-1 rounded-xl mr-2">GWAS</p>

                                </span> #}
                            </div>
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </section>

</div>